Repository fish-shell/fish-shell, pull requests merged in 2018-03, with the labels that each got.

#4769 Improve documentation of cartesian product with empty expansion
  doc_src/index.hdr.in
Labels: enhancement

#4799 completions: [git] Fix rogue bracket typo
  share/completions/git.fish
Labels: bug, completions, regression

#4800 Completions for bb-wrapper and powerpill
  share/completions/bb-wrapper.fish
  share/completions/powerpill.fish
Labels: completions, enhancement

#4802 Update completions for go
  share/completions/go.fish
Labels: completions

#4801 Update to handle latest Atom options
  share/completions/atom.fish
Labels: completions, enhancement

#4758 revisit gentoo-related completions
  share/completions/emaint.fish
  share/completions/emerge.fish
  share/completions/equery.fish
  share/functions/__fish_portage_print_available_categories.fish
  share/functions/__fish_portage_print_available_pkgs.fish
  share/functions/__fish_portage_print_installed_categories.fish
  share/functions/__fish_portage_print_installed_pkgs.fish
  share/functions/__fish_portage_print_repository_names.fish
  share/functions/__fish_portage_print_repository_paths.fish
Labels: completions, enhancement

#4816 Make wcwidth configurable
  CMakeLists.txt
  configure.ac
Labels: enhancement

#4837 Completion for conda, the package manager
  share/completions/conda.fish
Labels: completions, enhancement, release notes
