Repository fish-shell/fish-shell, pull requests merged in 2018-07, with the labels that each got.

#5085 [completions/git] Fix typo
  share/completions/git.fish
Labels: bug, completions

#5066 update nim.fish sample prompt
  share/tools/web_config/sample_prompts/nim.fish
Labels: enhancement

#5100 vi key bindings: fix `"*y`
  share/functions/fish_vi_key_bindings.fish
Labels: bug
