Repository fish-shell/fish-shell, pull requests merged in 2018-12, with the labels that each got.

#5386 Basic umask completion, and minor change to ulimit completion
  share/completions/ulimit.fish
  share/completions/umask.fish
Labels: completions, enhancement

#5404 history: drop use of fish_indent
  share/functions/history.fish
Labels: regression

#5411 Severely extended the sorin theme
  share/functions/fish_print_git_action.fish
  share/tools/web_config/sample_prompts/sorin.fish
Labels: enhancement

#5454 fix OpenWrt and opkg support
  share/completions/opkg.fish
  share/functions/__fish_print_packages.fish
Labels: bug, completions
