Repository fish-shell/fish-shell, pull requests merged in 2018-06, with the labels that each got.

#5026 Add completions for serve
  share/completions/serve.fish
Labels: completions, enhancement

#5042 completions: [go] Lookup pkgs from GOPATH
  share/completions/go.fish
Labels: completions, enhancement

#5046 Fix sudo completion
  share/completions/sudo.fish
Labels: bug, completions

#5055 Completion: add missing list-timers for systemctl.fish
  share/completions/systemctl.fish
Labels: completions, enhancement

#5070 Fix ssh Include directive for hostname printing
  share/functions/__fish_print_hostnames.fish
Labels: bug, completions, enhancement
