Repository fish-shell/fish-shell, pull requests merged in 2018-09, with the labels that each got.

#5179 pacaur: recognize *.pkg.tar as valid package extension
  share/completions/pacaur.fish
Labels: completions, enhancement

#5197 Fix the total page count in the history tab
  share/tools/web_config/js/controllers.js
Labels: bug

#5204 fix enum warning.
  src/common.cpp
Labels: cleanup
