Repository fish-shell/fish-shell, pull requests merged in 2018-10, with the labels that each got.

#5226 Add --color completion for diff
  share/completions/diff.fish
Labels: completions, enhancement

#5241 completions: Add systemctl set-property support
  share/completions/systemctl.fish
Labels: completions, enhancement

#5239 Fix typo in the documentation
  doc_src/index.hdr.in
Labels: docs

#5247 doc_src/set.txt: -U affects only the user running the command, not all users
  doc_src/set.txt
Labels: bug, docs

#5242 add makensis
  makensis.fish
Labels: completions, enhancement

#5294 Improve virsh completions
  share/completions/virsh.fish
Labels: completions, enhancement

#5293 Block on fg processes even if not under job control
  src/proc.cpp
Labels: bug
