Repository fish-shell/fish-shell, pull requests merged in 2018-11, with the labels that each got.

#5302 Partially revert 55b3c45 to create pgrp when launched with invalid pgrp
  src/reader.cpp
Labels: regression

#5344 Replace "env" with "expr" in the test manpage
  doc_src/test.txt
Labels: bug, docs

#5320 Restore legacy CMD_DURATION and FISH_VERSION variables
  doc_src/index.hdr.in
  src/env.cpp
  src/reader.cpp
Labels: RFC

#5375 Improve the contrast of the pager for solarized dark theme.
  share/tools/web_config/js/colorutils.js
Labels: enhancement
