Repository fish-shell/fish-shell, pull requests merged in 2019-02, with the labels that each got.

#5608 brew.fish: Add `update-reset` subcommand completion
  CHANGELOG.md
  share/completions/brew.fish
Labels: completions, enhancement

#5598 Switch to wait_by_process when `waitpid` without WNOHANG returns nothing
  src/proc.cpp
Labels: bug

#5620 Improved performance of the sorin theme
  share/tools/web_config/sample_prompts/sorin.fish
Labels: enhancement

#5636 Document that snippets are run before system config
  doc_src/index.hdr.in
Labels: bug, docs

#5666 Add completions for "git remote get-url"
  share/completions/git.fish
Labels: completions, enhancement

#5669 small typo in the tutorial. stderr is redirected using 2> rather than >2
  doc_src/tutorial.hdr
Labels: bug, regression

#5670 style guide: allow multi-line comments
  CONTRIBUTING.md
Labels: RFC

#5705 Compilation error on gcc8.2.1
  src/proc.cpp
Labels: regression
