Repository fish-shell/fish-shell, pull requests merged in 2019-01, with the labels that each got.

#5450 Add support for wayland copy/paste
  CHANGELOG.md
  share/functions/fish_clipboard_copy.fish
  share/functions/fish_clipboard_paste.fish
Labels: enhancement

#5473 Update ppa repo to fish shell 3.x
  README.md
Labels: bug, docs

#5496 yaourt: recognize *.pkg.tar as valid package extension
  share/completions/yaourt.fish
Labels: enhancement

#5500 Add missing tmux new-session flags to tmux completion script
  share/completions/tmux.fish
Labels: completions, enhancement

#5518 Fix completion of directories for configure
  share/completions/configure.fish
Labels: needs more info

#5566 __fish_complete_man.fish: escape for regex
  share/functions/__fish_complete_man.fish
Labels: bug, completions

#5603 `***.fish* -> `**.fish`
  doc_src/index.hdr.in
Labels: docs
