Repository fish-shell/fish-shell, pull requests merged in 2019-06, with the labels that each got.

#5918 Fix long option name of zypper
  share/completions/zypper.fish
Labels: completions, enhancement

#5926 fix comment and name of single byte escape seq
  src/screen.cpp
Labels: cleanup

#5906 math: Allow "x" for multiplication
  sphinx_doc_src/cmds/math.rst
  src/tinyexpr.cpp
  tests/math.err
  tests/math.in
  tests/math.out
Labels: RFC, enhancement

#5943 Add new `string` subcommand `string collect`
  .editorconfig
  CHANGELOG.md
  share/completions/string.fish
  sphinx_doc_src/cmds/string.rst
  src/builtin_string.cpp
  tests/string.err
  tests/string.in
  tests/string.out
Labels: enhancement

#5951 Prevent not-yet-loaded functions from loaded when erased
  CHANGELOG.md
  sphinx_doc_src/cmds/functions.rst
  src/function.cpp
Labels: bug

#5922 Add FFmpeg completions
  share/completions/ffmpeg.fish
  share/completions/ffplay.fish
  share/completions/ffprobe.fish
Labels: completions, enhancement
