Repository fish-shell/fish-shell, pull requests merged in 2019-03, with the labels that each got.

#5718 Add completions for Mariner
  share/completions/mariner.fish
Labels: completions, enhancement

#5737 fish_git_prompt: optionally show stash state in informative mode
  CHANGELOG.md
  share/functions/fish_git_prompt.fish
Labels: enhancement

#5709 Prompts with pipestatus
  share/functions/__fish_pipestatus_with_signal.fish
  share/functions/__fish_print_pipestatus.fish
  share/functions/__fish_status_to_signal.fish
  share/tools/web_config/sample_prompts/classic_status.fish
  share/tools/web_config/sample_prompts/classic_vcs.fish
  share/tools/web_config/sample_prompts/informative.fish
  share/tools/web_config/sample_prompts/informative_vcs.fish
Labels: enhancement

#5751 Fix `mount -o<TAB>` exception
  share/functions/__fish_complete_mount_opts.fish
Labels: bug, completions

#5732 FAQ: how to check whether variable is defined or not empty
  sphinx_doc_src/faq.rst
Labels: docs, enhancement

#5759 functions/help: Try harder to find a browser on WSL
  share/functions/help.fish
Labels: enhancement, windows subsystem for linux

#5771 Add backtraces to test errors
  src/builtin_test.cpp
Labels: RFC, enhancement

#5767 Keep the order for $PATH and $MANPATH when reading /etc/paths
  share/config.fish
Labels: bug

#5780 Replace Doxygen reference in README with Sphinx
  README.md
  build_tools/make_tarball.sh
Labels: bug, regression
