Repository fish-shell/fish-shell, pull requests merged in 2019-04, with the labels that each got.

#5762 Expand abbr explicitly
  share/functions/fish_default_key_bindings.fish
  share/functions/fish_vi_key_bindings.fish
  sphinx_doc_src/cmds/bind.rst
  src/input.cpp
  src/input_common.h
  src/reader.cpp
Labels: enhancement

#5777 Remove option to use system wcwidth
  CMakeLists.txt
  src/fallback.cpp
Labels: enhancement, packaging

#5795 Add git completions
  share/completions/git.fish
Labels: completions, enhancement

#5796 Honor dirprev scope
  share/functions/cd.fish
Labels: enhancement

#5819 Variables as commands are in fact supported, eval docs should not state otherwise
  sphinx_doc_src/cmds/eval.rst
  src/complete.cpp
Labels: docs

#5852 Switch to runtime check for /proc/self/stat
  cmake/ConfigureChecks.cmake
  config_cmake.h.in
  src/builtin_eval.cpp
  src/builtin_jobs.cpp
  src/env.cpp
  src/proc.cpp
  src/proc.h
  src/reader.cpp
Labels: enhancement
