Repository fish-shell/fish-shell, pull requests merged in 2019-10, with the labels that each got.

#6156 doc: add ref to cmd-breakpoint
  sphinx_doc_src/cmds/fish_breakpoint_prompt.rst
Labels: docs, enhancement

#6154 Unmarked the colo(u)r options of the git command as requiring an argument
  share/completions/grep.fish
Labels: bug, completions

#6158 doc: mention the disown command in the jobs section - fix #5530
  sphinx_doc_src/index.rst
Labels: docs, enhancement

#6161 Handle recursive calls to complete
  src/builtin_complete.cpp
  tests/checks/complete.fish
  tests/checks/wraps.fish
Labels: bug

#6172 Unexpand abbreviations' variable names before completing them
  src/expand.cpp
  src/expand.h
  tests/checks/abbr.fish
Labels: bug, completions

#6170 doc: mention history prefix search binds in binds.rst
  sphinx_doc_src/cmds/bind.rst
Labels: docs

#6167 doc: add link to event handlers in emit
  sphinx_doc_src/cmds/emit.rst
Labels: docs

#6134 Improved ansible-vault completions
  share/completions/ansible-vault.fish
Labels: completions, enhancement

#6110 Fix default Alt+W keybinding
  share/functions/__fish_shared_key_bindings.fish
  share/functions/__fish_whatis_current_token.fish
Labels: bug

#6140 Add default \es keybinding for "prepend sudo"
  share/functions/__fish_prepend_sudo.fish
  share/functions/__fish_shared_key_bindings.fish
Labels: enhancement

#6174 doc: add link to feature flags in fish command
  sphinx_doc_src/cmds/fish.rst
Labels: docs, enhancement

#6149 Add completions/sfdx.fish
  share/completions/sfdx.fish
Labels: completions, enhancement

#6208 sphinx: honor changes in static html assets
  cmake/Docs.cmake
  sphinx_doc_src/_static/custom.css
Labels: docs

#6235 Clean up typos across codebase
  sphinx_doc_src/index.rst
  src/builtin.h
  src/builtin_realpath.cpp
  src/fish_tests.cpp
  src/highlight.h
  src/history_file.cpp
  src/kill.h
  src/parse_execution.cpp
  src/parser.h
  src/path.h
  src/screen.cpp
  src/wildcard.cpp
Labels: cleanup

#6245 completion: zpaq archiver
  CHANGELOG.md
  share/completions/zpaq.fish
Labels: completions

#6246 Change to completions for tar about compression algo options
  share/completions/tar.fish
Labels: completions

#6243 completions: add btrfs
  CHANGELOG.md
  share/completions/btrfs.fish
Labels: completions

#6248 Add termux support for fish_config.
  share/tools/web_config/webconfig.py
Labels: enhancement

#6236 functions/__fish_print_hostnames: Fix ssh_configs no values return
  share/functions/__fish_print_hostnames.fish
Labels: bug, completions

#6225 Port composer completions to Python 3
  share/completions/composer.fish
Labels: completions

#6268 Fix `math` incorrect parenthesis error on missing term
  src/builtin_math.cpp
  src/tinyexpr.cpp
  src/tinyexpr.h
  tests/checks/math.fish
Labels: bug, math
