Repository fish-shell/fish-shell, pull requests merged in 2019-12, with the labels that each got.

#6370 Move __fish_complete_unrar into the completion script
  share/completions/unrar.fish
  share/functions/__fish_complete_unrar.fish
Labels: cleanup

#6377 Handle multiple arguments in $PAGER
  share/functions/__fish_paginate.fish
  share/functions/__fish_print_help.fish
  share/functions/history.fish
Labels: regression

#6382 Move __fish_print_abook_emails into mutt completion script
  po/de.po
  po/en.po
  po/fr.po
  po/nb.po
  po/nn.po
  po/pl.po
  po/pt_BR.po
  po/sv.po
  po/zh_CN.po
  share/completions/mutt.fish
  share/functions/__fish_print_abook_emails.fish
Labels: cleanup

#6383 Move __fish_parse_configure into configure completion script
  share/completions/configure.fish
  share/functions/__fish_parse_configure.fish
Labels: cleanup

#6384 Move __fish_portage_print_repository_names into emaint completion script
  share/completions/emaint.fish
  share/functions/__fish_portage_print_repository_names.fish
Labels: cleanup

#6385 Move __fish_ports_dirs into ports completion script
  share/completions/ports.fish
  share/functions/__fish_ports_dirs.fish
Labels: cleanup

#6386 Move __fish_systemd_machines into machinectl completion script
  share/completions/machinectl.fish
  share/functions/__fish_systemd_machines.fish
Labels: cleanup

#6387 Move __fish_print_xdg_desktop_file_ids into xdg-mime completion script
  share/completions/xdg-mime.fish
  share/functions/__fish_print_xdg_desktop_file_ids.fish
Labels: cleanup

#6388 Move __fish_print_lsblk_columns into lsblk completion script
  share/completions/lsblk.fish
  share/functions/__fish_print_lsblk_columns.fish
Labels: cleanup

#6389 Move __fish_print_function_prototypes into valgrind completion script
  share/completions/valgrind.fish
  share/functions/__fish_print_function_prototypes.fish
Labels: cleanup

#6391 Move __fish_print_zfs_* into zfs completion script
  share/completions/zfs.fish
  share/functions/__fish_print_zfs_bookmarks.fish
  share/functions/__fish_print_zfs_filesystems.fish
  share/functions/__fish_print_zfs_volumes.fish
Labels: cleanup

#6371 move __fish_complete_svn_diff into the completion script
  po/de.po
  po/en.po
  po/fr.po
  po/nb.po
  po/nn.po
  po/pl.po
  po/pt_BR.po
  po/sv.po
  po/zh_CN.po
  share/completions/svn.fish
  share/functions/__fish_complete_svn_diff.fish
Labels: cleanup

#6372 Remove deprecated fish_vi_mode function
  share/functions/fish_vi_mode.fish
Labels: cleanup

#6390 Move __fish_print_debian_services into invoke-rc.d completion script
  share/completions/invoke-rc.d.fish
  share/functions/__fish_print_debian_services.fish
Labels: cleanup

#6392 Remove fish_fallback_prompt function
  share/functions/fish_fallback_prompt.fish
Labels: cleanup

#6395 Use $PWD to retrieve the current directory in __fish_move_last.
  share/functions/__fish_move_last.fish
  tests/cd.in
Labels: enhancement

#6401 Revert "Move __fish_systemd_machines into machinectl completion script"
  share/completions/machinectl.fish
  share/functions/__fish_systemd_machines.fish
Labels: regression

#6396 Remove translations for non-existent files/functions
  po/de.po
  po/en.po
  po/fr.po
  po/nb.po
  po/nn.po
  po/pl.po
  po/pt_BR.po
  po/sv.po
  po/zh_CN.po
Labels: cleanup

#6403 Add the `--succinct` flag to `type`
  share/functions/type.fish
  sphinx_doc_src/cmds/type.rst
Labels: enhancement

#6421 Have `type` deal with both flavors of fileless function
  share/functions/type.fish
Labels: enhancement

#6423 Mention how `functions --details` handles aliases
  sphinx_doc_src/cmds/functions.rst
Labels: docs, enhancement

#6445 Added the --cleanup option completion for the git commit command
  share/completions/git.fish
Labels: completions, enhancement

#6429 Unify upgrades between fish versions with $__fish_initialized
  share/config.fish
  share/functions/__fish_config_interactive.fish
Labels: cleanup
