Repository fish-shell/fish-shell, pull requests merged in 2019-08, with the labels that each got.

#6024 Move __fish_complete_abook_formats into abook
  share/completions/abook.fish
  share/functions/__fish_complete_abook_formats.fish
Labels: cleanup

#6028 add missing flag to jest.fish completion
  share/completions/jest.fish
Labels: completions, enhancement

#6039 Documentation: Initialization files paths
  sphinx_doc_src/index.rst
Labels: cleanup, docs

#6047 Added `git restore` and `git switch` completions
  share/completions/git.fish
Labels: completions

#6074 Added git rebase --rebase-merges[=(rebase-cousins|no-rebase-cousins)] to completion
  share/completions/git.fish
Labels: completions, enhancement
