Repository fish-shell/fish-shell, pull requests merged in 2020-06, with the labels that each got.

#7074 kdeconnect-cli completions: ignore stderror
  share/completions/kdeconnect-cli.fish
Labels: completions, enhancement

#7083 completions: add hikari completion
  share/completions/hikari.fish
Labels: completions, enhancement

#7076 Add `status dirname` and `status basename` convenience commands
  doc_src/cmds/status.rst
  src/builtin_status.cpp
  tests/checks/status-command.fish
Labels: enhancement

#7079 Let `__fish_prepend_sudo` use the last commandline if there is no current one
  doc_src/faq.rst
  doc_src/index.rst
  share/functions/__fish_prepend_sudo.fish
Labels: enhancement

#7093 Fix string collect examples
  doc_src/cmds/string-collect.rst
Labels: bug, docs

#7096 Add completions for create_ap
  CHANGELOG.rst
  share/completions/create_ap.fish
Labels: completions, enhancement

#7103 Add completions for xxHash
  CHANGELOG.rst
  share/completions/xxh128sum.fish
  share/completions/xxh32sum.fish
  share/completions/xxh64sum.fish
  share/completions/xxhsum.fish
Labels: completions, enhancement

#7104 completions/snap: workaround snap interfaces deprecation notice
  share/completions/snap.fish
Labels: bug, completions

#7108 Add completions for apk-tools
  CHANGELOG.rst
  share/completions/apk.fish
  share/functions/__fish_print_packages.fish
Labels: completions, enhancement

#7109 Make completion descriptions for feh shorter
  share/completions/feh.fish
Labels: completions

#7112 Add completions for github's gh tool
  CHANGELOG.rst
  share/completions/gh.fish
Labels: enhancement

#7124 Typo.
  doc_src/cmds/fish_prompt.rst
Labels: docs, enhancement

#7125 Fix long description in completion.
  share/completions/awk.fish
Labels: completions, enhancement

#7138 Add completions for deno
  CHANGELOG.rst
  share/completions/deno.fish
Labels: completions, enhancement

#7075 Add support for git-* command auto-completion
  share/completions/git.fish
Labels: completions, enhancement

#7144 Add completion for `systemctl --failed`
  share/completions/systemctl.fish
Labels: completions, enhancement

#7146 completions/function: Update missing completions
  share/completions/function.fish
Labels: completions, enhancement

#7135 Fix redirection in `adb shell`
  share/completions/adb.fish
Labels: enhancement

#7137 Uncomment most recent comment if commandline is empty when using toggle comment binding
  CHANGELOG.rst
  share/functions/__fish_toggle_comment_commandline.fish
Labels: enhancement

#7150 Improve git config completions
  share/completions/git.fish
Labels: completions, enhancement

#7155 Fix binfmts.h typo in a comment
  src/postfork.cpp
Labels: cleanup

#7123 Add a function to check if the user is root.
  CHANGELOG.rst
  doc_src/cmds/fish_is_root_user.rst
  share/functions/fish_is_root_user.fish
  share/functions/fish_prompt.fish
  share/tools/web_config/sample_prompts/classic.fish
  share/tools/web_config/sample_prompts/classic_status.fish
  share/tools/web_config/sample_prompts/classic_vcs.fish
  share/tools/web_config/sample_prompts/debian_chroot.fish
  share/tools/web_config/sample_prompts/informative.fish
  share/tools/web_config/sample_prompts/informative_vcs.fish
  share/tools/web_config/sample_prompts/nim.fish
Labels: enhancement

#7153 Speed up executable command completions
  src/wildcard.cpp
Labels: performance

#7166 Fix paste-o that duplicated documentation header.
  doc_src/cmds/fish_is_root_user.rst
Labels: cleanup

#7164 Remove useless import in webconfig file.
  share/tools/web_config/webconfig.py
Labels: cleanup
