Repository fish-shell/fish-shell, pull requests merged in 2020-07, with the labels that each got.

#7169 Add completions for mpc
  CHANGELOG.rst
  share/completions/mpc.fish
Labels: completions, enhancement

#7187 create_manpage_completions.py: introduce Type5ManParser which is capable of parsing scdoc manpages; add 'return' statements to other parsers; cleanup
  share/tools/create_manpage_completions.py
Labels: completions, enhancement

#7196 Documentation: fix link target for "other features"
  doc_src/index.rst
Labels: bug, docs

#7197 Rephrase confusing display of key binding in documentation
  doc_src/faq.rst
Labels: docs, enhancement

#7205 docs: fix a few links
  doc_src/tutorial.rst
Labels: docs

#7223 completions: Remove -f from pacman -U
  share/completions/pacman.fish
Labels: completions

#7220 Add completions for p7zip
  CHANGELOG.rst
  share/completions/7z.fish
  share/completions/7za.fish
  share/completions/7zr.fish
Labels: completions, enhancement

#7229 vi-keybingings: Add missing abbr triggers for command terminators
  share/functions/fish_vi_key_bindings.fish
Labels: regression, vi-mode
