Repository fish-shell/fish-shell, pull requests merged in 2020-10, with the labels that each got.

#7372 Synopses examples for vcs services now function as intended
  doc_src/cmds/fish_git_prompt.rst
  doc_src/cmds/fish_hg_prompt.rst
  doc_src/cmds/fish_svn_prompt.rst
  doc_src/cmds/fish_vcs_prompt.rst
Labels: bug, docs

#7392 docs: Fix markup for code blocks
  doc_src/cmds/argparse.rst
  doc_src/cmds/bind.rst
  doc_src/cmds/complete.rst
  doc_src/cmds/fish_add_path.rst
  doc_src/cmds/read.rst
  doc_src/index.rst
  doc_src/tutorial.rst
Labels: bug, docs

#7393 Make design doc rationale spacing consistent
  doc_src/design.rst
Labels: docs, enhancement

#7398 Don't chomp `foo=` when completing `foo=br`
  src/complete.cpp
Labels: bug

#7361 Bind ctrl-r to search history if the commandline isn't empty
  doc_src/index.rst
  share/functions/fish_default_key_bindings.fish
Labels: enhancement

#7435 completions/homectl: init
  share/completions/homectl.fish
Labels: completions

#7438 Add bluetoothctl completions
  share/completions/bluetoothctl.fish
Labels: completions, enhancement

#7441 Fix typo
  share/completions/mkdocs.fish
  tests/checks/invocation.fish
Labels: docs
