Repository fish-shell/fish-shell, pull requests merged in 2020-02, with the labels that each got.

#6552 apt: Add support for filename completions
  share/completions/apt.fish
Labels: completions, enhancement

#6570 Add undo
  CHANGELOG.md
  share/functions/fish_default_key_bindings.fish
  sphinx_doc_src/cmds/bind.rst
  sphinx_doc_src/index.rst
  src/fish_tests.cpp
  src/input.cpp
  src/input_common.h
  src/reader.cpp
  src/reader.h
Labels: enhancement

#6580 Correct `list-language` to `list-languages` in bat completions
  share/completions/bat.fish
Labels: bug, completions

#6618 Docs: grammar nit in function page
  sphinx_doc_src/cmds/function.rst
Labels: docs

#6627 Correction link in doc.
  sphinx_doc_src/tutorial.rst
Labels: bug, docs

#6626 cmake: adjust logic so variadic tparm is used on NetBSD curses.
  cmake/ConfigureChecks.cmake
  config_cmake.h.in
Labels: cmake

#6631 Fix up --on-job-exit caller
  src/builtin_function.cpp
  src/builtin_functions.cpp
  src/event.cpp
  src/event.h
  src/parse_execution.cpp
  src/parser.h
  src/proc.cpp
  src/proc.h
  tests/checks/caller-observer.fish
Labels: bug, regression

#6581 Fix flatpak completion
  share/completions/flatpak.fish
Labels: bug, completions

#6642 Fix link in documentation
  doc_src/index.rst
Labels: bug, docs

#6638 lscpu.fish: disable file completions, localise var
  share/completions/lscpu.fish
Labels: completions, enhancement

#6639 cleanup completions: localise vars rather than erasing
  share/completions/cargo.fish
  share/completions/mplayer.fish
  share/completions/rpm.fish
  share/completions/rustc.fish
  share/completions/rustup.fish
  share/completions/setfacl.fish
  share/completions/zfs.fish
Labels: cleanup, completions

#6646 doc(abbr): adjust token names
  doc_src/cmds/abbr.rst
Labels: docs

#6656 completions: add basic support for `strace`
  share/completions/strace.fish
Labels: completions, enhancement

#6651 doc(ulimit): add missing backquotes around -H, -S and -a options
  doc_src/cmds/ulimit.rst
Labels: bug, docs

#6657 doc: fix 404 error for set_color command
  doc_src/index.rst
Labels: bug, docs

#6620 Improve psql completions and add some related commands
  CHANGELOG.md
  share/completions/createdb.fish
  share/completions/dropdb.fish
  share/completions/pg_dump.fish
  share/completions/pg_dumpall.fish
  share/completions/pg_restore.fish
  share/completions/psql.fish
  share/functions/__fish_complete_pg_database.fish
  share/functions/__fish_complete_pg_user.fish
Labels: completions, enhancement

#6659 ncdu: update completions
  share/completions/ncdu.fish
Labels: completions, enhancement

#6662 Update python completions
  share/completions/python.fish
Labels: completions, enhancement
