Repository fish-shell/fish-shell, pull requests merged in 2020-04, with the labels that each got.

#6844 doc: homogenize commands titles
  doc_src/cmds/breakpoint.rst
  doc_src/cmds/emit.rst
  doc_src/cmds/end.rst
  doc_src/cmds/fish_update_completions.rst
  doc_src/cmds/for.rst
  doc_src/cmds/history.rst
  doc_src/cmds/math.rst
  doc_src/cmds/prompt_pwd.rst
  doc_src/cmds/realpath.rst
  doc_src/cmds/set.rst
  doc_src/cmds/source.rst
Labels: docs

#6837 doc: add kbd markup to Tab Completion section
  doc_src/index.rst
Labels: docs

#6851 Update docs for `fish_kill_signal`, use "job" rather than "command"
  CHANGELOG.md
  doc_src/index.rst
Labels: docs

#6866 Support `.jar` and `.aar` files in `unzip` completions
  share/completions/unzip.fish
Labels: completions, enhancement

#6867 Allow `man` completions on catalina if `apropos` is overridden
  share/functions/__fish_complete_man.fish
Labels: completions, enhancement

#6865 Remove unnecessary string duplication in handle_flag_f.
  src/builtin_string.cpp
Labels: bug

#6869 Allow unzip versions not patched by Debian to enjoy .{jar,aar} completions
  share/completions/unzip.fish
Labels: completions, enhancement

#6876 git prompt: resilient check for git stash
  share/functions/fish_git_prompt.fish
Labels: bug

#6872 Add completions for Zopfli
  CHANGELOG.md
  share/completions/zopfli.fish
  share/completions/zopflipng.fish
Labels: completions, enhancement

#6882 sftp completions
  share/completions/sftp.fish
Labels: completions, enhancement

#6906 Activate untracked status in hg prompt
  share/functions/fish_hg_prompt.fish
Labels: bug

#6853 doc: add section about directory history / stack
  doc_src/cmds/cd.rst
  doc_src/cmds/cdh.rst
  doc_src/cmds/dirh.rst
  doc_src/cmds/dirs.rst
  doc_src/cmds/nextd.rst
  doc_src/cmds/popd.rst
  doc_src/cmds/prevd.rst
  doc_src/cmds/pushd.rst
  doc_src/cmds/pwd.rst
  doc_src/index.rst
Labels: docs, enhancement

#6898 Updated su completions
  share/completions/su.fish
Labels: completions, enhancement

#6908 Change vi-mode tilde to toggle character case
  share/functions/fish_vi_key_bindings.fish
  src/input.cpp
  src/input_common.h
  src/reader.cpp
Labels: vi-mode

#6917 fish_hg_prompt should return 1 when not in a mercurial directory
  share/functions/fish_hg_prompt.fish
Labels: bug

#6916 Doc: Fix dead link to POSIX man page "test".
  doc_src/cmds/test.rst
Labels: docs

#6920 docs: Add completions for fish_key_reader
  doc_src/cmds/fish_key_reader.rst
  share/completions/fish_key_reader.fish
Labels: cleanup, completions

#6929 Fix string split docs
  doc_src/cmds/string-split.rst
Labels: docs

#6821 Update Yarn completions
  share/completions/yarn.fish
Labels: completions, enhancement

#6864 Improve gradle completion
  CHANGELOG.md
  share/completions/gradle.fish
Labels: completions, enhancement

#6880 Fire fish_postexec event on tokenization error
  src/reader.cpp
Labels: docs, enhancement

#6788 Completions update
  CHANGELOG.md
  share/completions/cryptsetup.fish
  share/completions/keybase.fish
  share/completions/loginctl.fish
  share/completions/resolvectl.fish
  share/completions/windscribe.fish
  share/completions/zpaq.fish
Labels: completions, enhancement

#6933 completions/lpr: Shorten descriptions
  share/completions/lpr.fish
Labels: completions, enhancement

#6930 Added completions for metasploit commands
  share/completions/msfconsole.fish
  share/completions/msfdb.fish
  share/completions/msfvenom.fish
Labels: completions, enhancement

#6947 fix pushd's behavior with invalid arguments
  CHANGELOG.md
  share/functions/pushd.fish
Labels: bug
