Repository fish-shell/fish-shell, pull requests merged in 2020-03, with the labels that each got.

#6688 Fix expand.cpp compile failed with old SDK version
  src/expand.cpp
Labels: regression

#6674 Run fish_indent on functions/completions
  share/completions/pkginfo.fish
  share/completions/telnet.fish
Labels: cleanup, completions

#6685 added uncompressed pkg.tar files for completion
  share/completions/pacman.fish
Labels: completions, enhancement

#6684 Added completion for dhclient
  CHANGELOG.md
  share/completions/dhclient.fish
Labels: completions, enhancement

#6677 completions: update timeout
  share/completions/timeout.fish
Labels: completions, enhancement

#6676 completions: update rfkill
  share/completions/rfkill.fish
Labels: completions, enhancement

#6696 fish_npm_helper: fix typo in comments
  share/functions/fish_npm_helper.fish
Labels: completions

#6701 Fix 256 color detection on xterm-like
  src/env_dispatch.cpp
Labels: regression

#6699 Prevent prompt barfing errors when cwd has disappeared
  share/functions/fish_print_hg_root.fish
Labels: bug

#6690 Added completions for tcpdump
  CHANGELOG.md
  share/completions/tcpdump.fish
Labels: completions, enhancement

#6673 completions: add ps2pdf wrapper functions
  share/completions/ps2pdf12.fish
  share/completions/ps2pdf13.fish
  share/completions/ps2pdf14.fish
  share/completions/ps2pdfwr.fish
Labels: completions, enhancement

#6675 completions: add imv
  share/completions/imv.fish
Labels: completions, enhancement

#6689 doc: add interlinks between `echo` ←→ `printf` commands
  doc_src/cmds/echo.rst
  doc_src/cmds/printf.rst
Labels: docs, enhancement

#6709 docs: Move completion tutorial out into its own document
  doc_src/completions.rst
  doc_src/index.rst
Labels: docs, enhancement

#6712 doc(end): mention the 'function' command and add links to all block starters
  doc_src/cmds/end.rst
Labels: docs, enhancement

#6714 time: decide unit using largest value
  src/timer.cpp
Labels: enhancement

#6671 completions: add mpv
  share/completions/mpv.fish
Labels: completions, enhancement

#6672 completion helper functions: do not use gettext
  share/functions/__fish_complete_directories.fish
  share/functions/__fish_complete_zfs_mountpoint_properties.fish
  share/functions/__fish_complete_zfs_ro_properties.fish
  share/functions/__fish_complete_zfs_rw_properties.fish
  share/functions/__fish_complete_zfs_write_once_properties.fish
  share/functions/__fish_print_packages.fish
Labels: cleanup, completions

#6725 completions: fix scp remote path when /bin/ls does not exist
  share/completions/scp.fish
Labels: bug, completions

#6721 doc: add interlinks between `break` and `continue` commands
  doc_src/cmds/break.rst
  doc_src/cmds/continue.rst
Labels: docs, enhancement

#6731 update gvim completions
  share/completions/gvim.fish
Labels: completions, enhancement

#6727 doc: add links between the string-split and read commands
  doc_src/cmds/read.rst
  doc_src/cmds/string-split.rst
Labels: docs, enhancement

#6751 Update Arch Linux package tool completions
  share/completions/downgrade.fish
  share/completions/pacaur.fish
  share/completions/pacman.fish
  share/completions/yaourt.fish
  share/functions/__fish_print_packages.fish
Labels: completions, enhancement

#6752 doc: make <kbd> style more prominent
  doc_src/_static/custom.css
Labels: docs, enhancement

#6773 Update `read` builtin completions
  share/completions/read.fish
Labels: completions, enhancement

#6776 feat: add missing 'save' completion for funced
  share/completions/funced.fish
Labels: completions

#6779 doc: add links to 'source' command from 'eval' and 'functions'
  doc_src/cmds/eval.rst
  doc_src/cmds/functions.rst
Labels: docs, enhancement

#6781 Fix `abook` completions
  share/completions/abook.fish
Labels: bug, completions

#6780 perl completions: remove unnecessary use of `begin`
  share/completions/perl.fish
Labels: cleanup

#6769 Add vi 'y' bindings and some i / a support
  share/functions/fish_vi_key_bindings.fish
Labels: enhancement, vi-mode

#6786 help function: special case string commands
  share/functions/help.fish
Labels: enhancement

#6795 string/trim: Add VT to list of default chars
  src/builtin_string.cpp
Labels: enhancement

#6793 Missing flag descriptions in python script
  share/tools/create_manpage_completions.py
Labels: bug

#6801 Update terraform completion
  share/completions/terraform.fish
Labels: completions

#6803 Added completions for traceroute and tracepath
  share/completions/tracepath.fish
  share/completions/traceroute.fish
Labels: completions

#6812 jobs: suppress "No suitable job" if -q is given
  CHANGELOG.md
  src/builtin_jobs.cpp
  tests/checks/jobs.fish
Labels: bug

#6813 Fix typo: '\E' is not an escape sequence.
  src/fish_tests.cpp
Labels: bug

#6784 Update `apropos` completions
  share/completions/apropos.fish
Labels: completions, enhancement

#6819 Added mysql completions
  share/completions/mysql.fish
Labels: completions, enhancement

#6827 updated nc completions
  share/completions/nc.fish
Labels: completions, enhancement

#6835 feat(completion): add missing -P option to read command
  share/completions/read.fish
Labels: completions
