Repository fish-shell/fish-shell, pull requests merged in 2020-01, with the labels that each got.

#6473 disable virtualenv prompt update in nim prompt
  share/tools/web_config/sample_prompts/nim.fish
Labels: enhancement

#6481 Don't override exit status when stderr is closed by `2>&-`
  src/exec.cpp
  tests/checks/exit-status-with-closing-stderr.fish
Labels: bug, regression

#6486 Clarify how to redirect stderr into stdout in tutorial
  sphinx_doc_src/tutorial.rst
Labels: docs, enhancement

#6479 Update Keybase completions
  CHANGELOG.md
  share/completions/keybase.fish
Labels: completions, enhancement

#6428 Load vendor configuration directories outside install prefix
  CHANGELOG.md
  cmake/Install.cmake
  share/config.fish
Labels: enhancement

#6516 Remove `dropbox` completions
  share/completions/dropbox.fish
Labels: completions, enhancement

#6518 Stringify gpg completions
  share/functions/__fish_complete_gpg_key_id.fish
Labels: completions, enhancement

#6523 Get the list of vmctl VMs in a less fragile way.
  share/completions/vmctl.fish
Labels: enhancement

#6524 Amend comments incorrectly referring to `sed`
  share/completions/df.fish
  tests/test_functions/mktemp.fish
Labels: cleanup

#6519 Stringify netctl completions
  share/completions/netctl.fish
Labels: completions, enhancement

#6528 Stringify j.fish
  share/completions/j.fish
Labels: cleanup

#6522 Check if we are on OpenBSD and set our dirname to /tmp/fish if we are.
  share/tools/web_config/webconfig.py
Labels: bug

#6501 Add completions for loginctl and resolvectl
  CHANGELOG.md
  share/completions/loginctl.fish
  share/completions/resolvectl.fish
Labels: completions, enhancement

#6527 Stringify __fish_pwd.fish
  share/functions/__fish_pwd.fish
Labels: cleanup

#6535 Add interface label/name to the completions for `ssh -b`
  share/completions/ssh.fish
Labels: completions, enhancement

#6540 Remove unused variable
  share/functions/fish_prompt.fish
Labels: cleanup

#6541 Stringify vared completions
  share/completions/vared.fish
Labels: cleanup

#6511 Replace debug() with flog
  src/common.cpp
  src/complete.cpp
  src/env_dispatch.cpp
  src/env_universal_common.cpp
  src/event.cpp
  src/exec.cpp
  src/expand.cpp
  src/fish.cpp
  src/fish_indent.cpp
  src/fish_key_reader.cpp
  src/flog.h
  src/highlight.cpp
  src/history.cpp
  src/input.cpp
  src/input_common.cpp
  src/intern.cpp
  src/io.cpp
  src/io.h
  src/iothread.cpp
  src/output.cpp
  src/parse_productions.cpp
  src/parser.cpp
  src/path.cpp
  src/postfork.cpp
  src/proc.cpp
  src/reader.cpp
  tests/checks/directory-redirect.fish
  tests/test_exec_fail.err
Labels: enhancement
