Repository fish-shell/fish-shell, pull requests merged in 2020-11, with the labels that each got.

#7455 Add support for copy and paste in WSL
  share/functions/fish_clipboard_copy.fish
  share/functions/fish_clipboard_paste.fish
Labels: enhancement

#7471 Don't assume $__fish_git_prompt_char_cleanstate is non-empty
  share/functions/fish_git_prompt.fish
Labels: enhancement

#7478 src/builtin_type.cpp: add missing gettext call.
  src/builtin_type.cpp
Labels: regression

#7492 homectl.fish: fix Expected argument for option a
  share/completions/homectl.fish
Labels: completions

#7503 add completion for icdiff
  share/completions/icdiff.fish
Labels: completions, enhancement

#7496 math: Add --base option
  doc_src/cmds/math.rst
  src/builtin_math.cpp
  tests/checks/math.fish
Labels: enhancement

#7516 Implement `d;` and `d,`
  share/functions/fish_vi_key_bindings.fish
Labels: enhancement, vi-mode
