Repository fish-shell/fish-shell, pull requests merged in 2020-09, with the labels that each got.

#7300 Add completions for some missing GLib's tools
  CHANGELOG.rst
  share/completions/gapplication.fish
  share/completions/gdbus.fish
  share/completions/gio.fish
  share/completions/gresource.fish
Labels: completions, enhancement

#7291 go.fish: add some missing options
  share/completions/go.fish
Labels: completions, enhancement

#7308 Colourise diff(1) output, if supported
  CHANGELOG.rst
  share/functions/diff.fish
Labels: enhancement

#7311 docs/isatty: Mention default value for FILE DESCRIPTOR
  doc_src/cmds/isatty.rst
Labels: docs, enhancement

#7316 ffprobe completions: show_stream -> show_streams
  share/completions/ffprobe.fish
Labels: bug, completions

#7319 fixed typo
  doc_src/cmds/functions.rst
Labels: bug, docs

#7339 Added completions for micro
  share/completions/micro.fish
Labels: completions, enhancement

#7354 Consistency-fix for word motions
  src/fish_tests.cpp
  src/tokenizer.cpp
Labels: bug
