Repository fish-shell/fish-shell, pull requests merged in 2021-07, with the labels that each got.

#8104 docs: Made the abort/edit history feature more discoverable.
  doc_src/faq.rst
  doc_src/interactive.rst
Labels: docs, enhancement

#8108 Add missing options for `bind`
  share/completions/bind.fish
Labels: completions, enhancement

#8116 Fix duplicate `-p` flag in `fish` completion
  share/completions/fish.fish
Labels: bug, completions

#8121 Enable OSC 0 when running in WezTerm
  src/env_dispatch.cpp
Labels: enhancement

#8118 Node completion: add v8 sparkplug option
  share/completions/node.fish
Labels: completions, enhancement

#8054 string: Allow `collect --allow-empty` to avoid empty ellision
  doc_src/cmds/string-collect.rst
  src/builtin_string.cpp
  tests/checks/string.fish
Labels: RFC, enhancement

#8111 Add initial completion for Angular CLI
  share/completions/ng.fish
Labels: completions, enhancement

#8114 Add zef completion
  share/completions/zef.fish
Labels: completions, enhancement

#8128 fix 'socket file name too long' error
  tests/checks/tmux-complete.fish
  tests/checks/tmux-prompt.fish
Labels: enhancement

#8127 fish_config: Read colorschemes from .theme files
  cmake/Install.cmake
  share/tools/web_config/js/colorutils.js
  share/tools/web_config/js/controllers.js
  share/tools/web_config/themes/Base16 Default Dark.theme
  share/tools/web_config/themes/Base16 Default Light.theme
  share/tools/web_config/themes/Base16 Eighties.theme
  share/tools/web_config/themes/Bay Cruise.theme
  share/tools/web_config/themes/Dracula.theme
  share/tools/web_config/themes/Fairground.theme
  share/tools/web_config/themes/Just a Touch.theme
  share/tools/web_config/themes/Lava.theme
  share/tools/web_config/themes/Mono Lace.theme
  share/tools/web_config/themes/Mono Smoke.theme
  share/tools/web_config/themes/Nord.theme
  share/tools/web_config/themes/Old School.theme
  share/tools/web_config/themes/Seaweed.theme
  share/tools/web_config/themes/Snow Day.theme
  share/tools/web_config/themes/Solarized Dark.theme
  share/tools/web_config/themes/Solarized Light.theme
  share/tools/web_config/themes/Tomorrow Night Bright.theme
  share/tools/web_config/themes/Tomorrow Night.theme
  share/tools/web_config/themes/Tomorrow.theme
  share/tools/web_config/themes/ayu Dark.theme
  share/tools/web_config/themes/ayu Light.theme
  share/tools/web_config/themes/ayu Mirage.theme
  share/tools/web_config/themes/fish default.theme
  share/tools/web_config/webconfig.py
Labels: enhancement

#8129 Replicate upstream git logic for alias commands
  share/completions/git.fish
Labels: completions, enhancement

#8113 Add completion for Rakudo
  share/completions/rakudo.fish
Labels: completions, enhancement

#8117 Deduplicate $fish_user_paths automatically
  share/config.fish
  tests/checks/fish_user_paths.fish
Labels: RFC, enhancement

#8151 Handle absolute path in CMAKE_INSTALL_DATADIR
  cmake/Install.cmake
Labels: cmake

#8153 Work around `setpgid` error on older Apple platforms
  src/postfork.cpp
Labels: enhancement

#8141 Add completion for azure cli (az)
  CHANGELOG.rst
  share/completions/az.fish
Labels: completions, enhancement

#8148 Let "return" exit a script
  doc_src/cmds/return.rst
  src/builtin_return.cpp
  src/parse_constants.h
  src/parse_util.cpp
  tests/checks/return.fish
Labels: RFC, enhancement

#8156 Add completions for `git-sizer`
  share/completions/git-sizer.fish
Labels: completions, enhancement

#8134 Add missing completions for some git commands
  share/completions/git.fish
Labels: completions, enhancement

#8096 Remove __fish_is_token_n and undunder fish_is_nth_token
  po/de.po
  po/en.po
  po/fr.po
  po/nb.po
  po/nn.po
  po/pl.po
  po/pt_BR.po
  po/sv.po
  po/zh_CN.po
  share/completions/aws.fish
  share/completions/bower.fish
  share/completions/camcontrol.fish
  share/completions/cygport.fish
  share/completions/duply.fish
  share/completions/git.fish
  share/completions/meson.fish
  share/completions/python.fish
  share/completions/python2.fish
  share/completions/python3.fish
  share/completions/rustup.fish
  share/completions/s3cmd.fish
  share/completions/service.fish
  share/completions/set.fish
  share/completions/ttx.fish
  share/completions/udevadm.fish
  share/completions/unzip.fish
  share/completions/vips.fish
  share/completions/xdg-mime.fish
  share/completions/xinput.fish
  share/completions/xsv.fish
  share/completions/yadm.fish
  share/functions/__fish_is_first_token.fish
  share/functions/__fish_is_nth_token.fish
  share/functions/__fish_is_token_n.fish
  share/functions/fish_is_nth_token.fish
Labels: completions, enhancement

#8176 document `--no-config`
  doc_src/cmds/fish.rst
  share/completions/fish.fish
Labels: docs

#8181 Add completions for `gping`
  share/completions/gping.fish
Labels: completions, enhancement

#8183 Add zypper subcommands completion
  share/completions/zypper.fish
Labels: completions, enhancement
