Repository fish-shell/fish-shell, pull requests merged in 2021-01, with the labels that each got.

#7585 argparse: Make short flag names optional
  doc_src/cmds/argparse.rst
  src/builtin_argparse.cpp
  tests/checks/argparse.fish
Labels: enhancement

#7597 Normalize and document __fish_status_to_signal
  CHANGELOG.rst
  doc_src/cmds/fish_status_to_signal.rst
  share/functions/__fish_print_pipestatus.fish
  share/functions/fish_status_to_signal.fish
Labels: enhancement

#7600 Webconfig: Remove dependency on cgi module
  share/tools/web_config/webconfig.py
Labels: enhancement

#7603 Update rustc.fish
  share/completions/rustc.fish
Labels: completions, enhancement

#7606 completions/pkg: Add support for "pkg check" sub-command
  share/completions/pkg.fish
Labels: completions, enhancement

#7616 Added completion script for alternatives
  share/completions/alternatives.fish
Labels: completions, enhancement

#7621 Add `losetup` completions
  share/completions/losetup.fish
Labels: completions, enhancement

#7624 completions: Add support for lightdm and dm-tool commands
  share/completions/dm-tool.fish
  share/completions/lightdm.fish
Labels: completions, enhancement

#7623 Make reflow handling configurable
  doc_src/index.rst
  share/functions/__fish_config_interactive.fish
Labels: enhancement

#7638 completions/mtr: init
  share/completions/mtr.fish
Labels: completions, enhancement

#7642 Include completion for all pkg alias subcommands
  share/completions/pkg.fish
Labels: completions, enhancement

#7649 Enable OSC 7 when running in WezTerm
  share/functions/__fish_config_interactive.fish
Labels: enhancement

#7654 More improvements to clarity and grammar of Introduction doc page
  doc_src/index.rst
Labels: docs, enhancement

#7652 Complete custom "git-foo" commands from "git foo" commandlines
  CHANGELOG.rst
  share/completions/git.fish
Labels: completions

#7648 Allow profiling without startup time
  doc_src/cmds/fish.rst
  share/completions/fish.fish
  src/fish.cpp
  src/parser.cpp
  src/parser.h
  tests/checks/invocation.fish
Labels: enhancement

#7668 completions/networkctl: add missing commands
  share/completions/networkctl.fish
Labels: completions, enhancement

#7667 completions/userdbctl: init
  share/completions/userdbctl.fish
Labels: completions, enhancement
