Repository fish-shell/fish-shell, pull requests merged in 2021-12, with the labels that each got.

#8519 Use `--almost-all` in `la` function
  share/functions/la.fish
Labels: enhancement

#8527 Complete cargo subcommands without description
  share/completions/cargo.fish
Labels: enhancement, completions

#8528 Reword documentation for `filename` in `man status`
  doc_src/cmds/status.rst
Labels: enhancement, docs

#8526 /define option for pabcnetcclear completion
  share/completions/pabcnetcclear.fish
Labels: enhancement, completions

#8520 Add completion for Starship
  share/completions/starship.fish
Labels: enhancement, completions

#8550 Fix typo in __fish_tokenizer_state
  share/functions/__fish_tokenizer_state.fish
Labels: bug, completions

#8596 webconfig.py: minor polish of `is_chromeos_garcon`
  share/tools/web_config/webconfig.py
Labels: enhancement

#8589 fish_git_prompt: be careful about git config
  share/functions/fish_git_prompt.fish
  tests/checks/git.fish
Labels: security

#8597 completions/opam: add completions for "opam switch"
  share/completions/opam.fish
Labels: enhancement, completions
