Repository fish-shell/fish-shell, pull requests merged in 2021-02, with the labels that each got.

#7684 Fix sphinx doc warning
  doc_src/cmds/argparse.rst
Labels: regression

#7686 Fix Alt+L when using the "Informative" prompt
  share/tools/web_config/sample_prompts/informative.fish
Labels: bug

#7689 Highlight keywords differently
  doc_src/fish_indent_lexer.py
  doc_src/index.rst
  src/fish_indent.cpp
  src/fish_tests.cpp
  src/highlight.cpp
  src/highlight.h
Labels: enhancement

#7697 Fix sphinx warning
  CHANGELOG.rst
Labels: bug, docs

#7703 Updated metasploit completions
  share/completions/msfconsole.fish
  share/completions/msfvenom.fish
Labels: completions, enhancement

#7695 Highlight redirection target as valid if it contains to-be-defined var
  CHANGELOG.rst
  src/fish_tests.cpp
  src/highlight.cpp
Labels: enhancement

#7742 Ensure web_config works on WSL
  share/tools/web_config/webconfig.py
Labels: enhancement

#7750 Fix pandoc completion error
  share/completions/pandoc.fish
Labels: completions

#7751 Fixed __fish_adb_get_devices
  share/completions/adb.fish
Labels: bug, completions

#7752 Shorten various long descriptions
  share/completions/git.fish
  share/completions/gitk.fish
  share/completions/jest.fish
  share/completions/lsof.fish
  share/completions/lsusb.fish
  share/completions/minikube.fish
Labels: completions, enhancement
