Repository fish-shell/fish-shell, pull requests merged in 2021-04, with the labels that each got.

#7925 alias: print error msgs to stderr
  share/functions/alias.fish
Labels: enhancement

#7935 Fix skipping locale tests on Github Actions
  tests/checks/locale.fish
Labels: regression

#7932 Add a "prompt_login" helper function
  doc_src/cmds/prompt_login.rst
  share/functions/fish_prompt.fish
  share/functions/prompt_login.fish
  share/tools/web_config/sample_prompts/default.fish
  share/tools/web_config/sample_prompts/terlar.fish
Labels: RFC, enhancement
