Repository fish-shell/fish-shell, pull requests merged in 2021-08, with the labels that each got.

#8145 Add `set --function`
  doc_src/cmds/set.rst
  doc_src/language.rst
  src/builtin_set.cpp
  src/env.cpp
  src/env.h
  tests/checks/set.fish
Labels: RFC, enhancement

#8202 Add `--function` to `set` completion
  share/completions/set.fish
Labels: completions

#8206 remove make_pair
  src/ast.cpp
  src/complete.cpp
  src/env.cpp
  src/highlight.cpp
Labels: cleanup

#8192 Updated ping completions
  share/completions/ping.fish
Labels: enhancement, completions

#8211 Fix dirs returns false when $dirstack is empty
  share/functions/dirs.fish
Labels: enhancement

#8214 `set -q`: Return 255 if no variable name was passed
  doc_src/cmds/set.rst
  src/builtin_set.cpp
  tests/checks/set.fish
Labels: enhancement

#8219 completion: support `--no` prefixes for mpv flag options
  share/completions/mpv.fish
Labels: enhancement, completions

#8142 commandline: Add --is-complete option to query whether it's syntactically complete
  doc_src/cmds/commandline.rst
  src/builtin_commandline.cpp
  tests/checks/commandline.fish
Labels: enhancement, RFC

#8218 docs: Add copy buttons to all the codeblocks
  doc_src/python_docs_theme/layout.html
  doc_src/python_docs_theme/static/pydoctheme.css
Labels: enhancement

#8221 edit_command_buffer: use "command" to ignore any functions with the same name
  share/functions/edit_command_buffer.fish
Labels: enhancement

#8222 replace push_back with emplate_back
  src/builtin_argparse.cpp
  src/builtin_string.cpp
  src/fish_tests.cpp
  src/input.cpp
Labels: cleanup

#8234 No more sys_errlist
  cmake/ConfigureChecks.cmake
  config_cmake.h.in
  src/postfork.cpp
  src/wutil.cpp
  src/wutil.h
Labels: enhancement

#8235 clang-tidy: simplify two bool returns
  src/history.cpp
  src/path.cpp
Labels: cleanup

#8237 clang-tidy: replace size comparisons with empty
  src/builtin_functions.cpp
  src/builtin_string.cpp
  src/fish_tests.cpp
  src/reader.cpp
Labels: cleanup

#8241 complete "mpc load"
  share/completions/mpc.fish
Labels: enhancement, completions

#8243 Add and fix completions for new options
  share/completions/commandline.fish
  share/completions/string.fish
Labels: enhancement, completions

#8249 Fix completions/ls.fish
  share/completions/ls.fish
Labels: enhancement, completions

#8236 clang-tidy: replace push_back with emplace_back
  src/fish_tests.cpp
  src/iothread.cpp
Labels: cleanup

#8257 Typo funcions -> functions
  doc_src/language.rst
Labels: bug, docs
