Repository fish-shell/fish-shell, pull requests merged in 2021-03, with the labels that each got.

#7755 Fix `git.fish` test failing because of an alias
  tests/checks/git.fish
Labels: bug

#7760 Include <termios.h> instead of <sys/termios.h>.
  src/termsize.cpp
Labels: cleanup

#7763 Update rsync completions
  share/completions/rsync.fish
Labels: completions, enhancement

#7795 Fix typo in __fish_print_pipestatus
  share/functions/__fish_print_pipestatus.fish
Labels: bug

#7754 Rewrite the real file if history file is a symlink
  CHANGELOG.rst
  src/history.cpp
  tests/checks/symlink-universal-variables.fish
  tests/checks/symlinks-not-overwritten.fish
Labels: enhancement

#7793 Added descriptions to __fish_print_addresses
  share/completions/msfdb.fish
  share/completions/ssh.fish
  share/functions/__fish_complete_bittorrent.fish
  share/functions/__fish_print_addresses.fish
Labels: completions, enhancement

#7788 Shorten description in completions
  share/completions/badblocks.fish
  share/completions/curl.fish
  share/completions/read.fish
  share/completions/useradd.fish
Labels: completions, enhancement

#7820 Added completions for mkpasswd
  share/completions/mkpasswd.fish
Labels: completions

#7839 Write new completion file for cargo
  share/completions/cargo.fish
Labels: completions, enhancement

#7744 Use the correct case in completion pager
  CHANGELOG.rst
  src/reader.cpp
  tests/checks/tmux-complete.fish
Labels: completions, enhancement

#7796 Create empty configuration directories/files on interactive startup
  CHANGELOG.rst
  share/functions/__fish_config_interactive.fish
Labels: enhancement

#7773 Split up documentation
  doc_src/conf.py
  doc_src/index.rst
  doc_src/interactive.rst
  doc_src/language.rst
Labels: docs, enhancement

#7586 cd first, ask questions later
  src/builtin_cd.cpp
  src/path.cpp
  src/path.h
Labels: enhancement

#7847 [vi-mode] corrected normal/default mode pasting
  share/functions/fish_vi_key_bindings.fish
Labels: vi-mode

#7872 FIx backward-kill-path-component behavior
  CHANGELOG.rst
  src/fish_tests.cpp
  src/tokenizer.cpp
Labels: bug

#7877 math: Make function parentheses optional
  doc_src/cmds/math.rst
  src/tinyexpr.cpp
  tests/checks/math.fish
Labels: enhancement

#7880 Make default vi mode prompt a bit nicer to look at
  share/functions/fish_default_mode_prompt.fish
Labels: enhancement, vi-mode
