Repository fish-shell/fish-shell, pull requests merged in 2021-05, with the labels that each got.

#7958 A cli prompt selector
  doc_src/cmds/fish_config.rst
  share/completions/fish_config.fish
  share/functions/fish_config.fish
Labels: RFC, enhancement

#7984 Explanation of list range example wrong way round.
  doc_src/language.rst
Labels: docs

#7987 Not quite accurate code example heading
  doc_src/language.rst
Labels: enhancement

#8011 Move the cursor to the beginning before printing right prompt
  src/screen.cpp
Labels: enhancement

#8016 Fixed a typo in rc-update autocompletion
  share/completions/rc-update.fish
Labels: bug

#8030 env: remove trailing null-terminator from default path
  src/env.cpp
Labels: bug

#8034 Condensed descriptions for various commands
  share/completions/bundle.fish
  share/completions/dhclient.fish
  share/completions/tmux.fish
Labels: completions, enhancement
