Repository fish-shell/fish-shell, pull requests merged in 2021-11, with the labels that each got.

#8415 Basic mono command completions
  share/completions/mono.fish
Labels: enhancement, completions

#8421 pabcnet_clear.exe completions
  share/completions/pabcnet_clear.fish
Labels: enhancement, completions

#8446 Use `cargo run --example` to get list of examples
  share/completions/cargo.fish
Labels: completions

#8467 Make fish_key_reader's output simpler
  doc_src/cmds/fish_key_reader.rst
  doc_src/interactive.rst
  src/fish_key_reader.cpp
  tests/pexpects/fkr.py
Labels: enhancement

#8476 Run fish_indent on all non-test .fish files
  benchmarks/benchmarks/aliases.fish
  benchmarks/benchmarks/external_cmds.fish
  build_tools/find_globals.fish
  share/completions/clasp.fish
  share/completions/dart.fish
  share/completions/elvish.fish
  share/completions/firewall-cmd.fish
  share/completions/fish_config.fish
  share/completions/funcsave.fish
  share/completions/hashcat.fish
  share/completions/john.fish
  share/completions/kmutil.fish
  share/completions/mono.fish
  share/completions/ng.fish
  share/completions/ping.fish
  share/completions/roswell.fish
  share/completions/sbcl.fish
  share/completions/shortcuts.fish
  share/completions/snap.fish
  share/completions/sysctl.fish
  share/completions/systemd-analyze.fish
  share/completions/wineboot.fish
  share/completions/xbps-query.fish
  share/functions/__fish_complete_mount_opts.fish
  share/functions/fish_default_key_bindings.fish
  share/functions/fish_git_prompt.fish
  share/functions/fish_vi_cursor.fish
  share/functions/funcsave.fish
Labels: cleanup

#8494 Allow set --query to check for pathvarness
  CHANGELOG.rst
  doc_src/cmds/set.rst
  src/env.cpp
  tests/checks/set.fish
Labels: enhancement

#8433 fish_opt completion
  share/completions/fish_opt.fish
Labels: enhancement, completions

#8481 Add findstr completion
  share/completions/findstr.fish
Labels: enhancement, completions

#8480 pabcnetcclear command completion update
  share/completions/pabcnet_clear.fish
  share/completions/pabcnetcclear.fish
Labels: enhancement, completions
