Repository fish-shell/fish-shell, pull requests merged in 2021-09, with the labels that each got.

#8281 normalize_path: Squash leading slashes even without allow_leading
  src/wutil.cpp
  tests/checks/realpath.fish
Labels: bug

#8283 Added completions for ethtool
  share/completions/ethtool.fish
Labels: enhancement, completions

#8302 Add completions for cpupower
  CHANGELOG.rst
  share/completions/cpupower.fish
Labels: enhancement, completions

#8310 Hide whatis database building from the user
  share/functions/__fish_apropos.fish
Labels: enhancement
