Repository fish-shell/fish-shell, pull requests merged in 2022-05, with the labels that each got.

#8879 Setup $USER and $HOME if passwd for $USER has different uid
  src/env.cpp
Labels: enhancement, RFC

#8928 Document `string split --fields`
  doc_src/cmds/string-split.rst
  doc_src/cmds/string.rst
Labels: bug, docs

#8889 Make __fish_print_rpm_packages work on macOS
  share/functions/__fish_print_rpm_packages.fish
Labels: enhancement, completions

#8887 Search $__fish_user_data_dir for vendor additions
  CHANGELOG.rst
  doc_src/completions.rst
  doc_src/language.rst
  share/config.fish
Labels: enhancement

#8921 fix: complete `git rebase` with commits first and keep-order
  share/completions/git.fish
Labels: enhancement, completions

#8941 Add `--no-patch` option to `git show` completion
  share/completions/git.fish
Labels: enhancement, completions

#8957 fix: `git ls-files` --stage
  share/completions/git.fish
Labels: bug, completions

#8955 fix: completion `git mv` with files
  share/completions/git.fish
Labels: enhancement, completions

#8958 Builtin path, v2
  CMakeLists.txt
  doc_src/cmds/path.rst
  doc_src/fish_for_bash_users.rst
  doc_src/language.rst
  share/completions/path.fish
  src/builtin.cpp
  src/builtins/path.cpp
  src/builtins/path.h
  src/io.h
  src/parse_execution.cpp
  tests/checks/path.fish
Labels: enhancement
