Repository fish-shell/fish-shell, pull requests merged in 2022-01, with the labels that each got.

#8601 Work on CHANGELOG for 3.4
  CHANGELOG.rst
Labels: release notes

#8613 Fix `xargs` option completions
  share/completions/xargs.fish
Labels: completions

#8608 Clarify `functions -Dv`'s output
  doc_src/cmds/functions.rst
Labels: enhancement, docs

#8609 Add `isatty` completion
  share/completions/isatty.fish
Labels: enhancement, completions

#8612 Skip more leading commands in `__fish_man_page`
  share/functions/__fish_man_page.fish
Labels: enhancement

#8615 Complete users for `id` command
  share/completions/id.fish
Labels: enhancement, completions

#8639 Fix nmap --script completion
  share/completions/nmap.fish
Labels: bug

#8647 completions: shorten descriptions for p4
  share/completions/p4.fish
Labels: completions

#8643 Assert `and` and `or` create no new scope
  tests/checks/set.fish
Labels: enhancement

#8654 completion(animate): shorten descriptions
  share/completions/animate.fish
Labels: enhancement, completions

#8655 completion(ansible-playbook, ansible): shorten descriptions
  share/completions/ansible-playbook.fish
  share/completions/ansible.fish
Labels: enhancement, completions

#8656 completions(ant): shorten descriptions
  share/completions/ant.fish
Labels: enhancement, completions

#8676 Add ln completion -r --relative
  share/completions/ln.fish
Labels: completions
