Repository fish-shell/fish-shell, pull requests merged in 2022-06, with the labels that each got.

#8980 git_prompt: Only show untracked files in informative mode if asked
  doc_src/cmds/fish_git_prompt.rst
  share/functions/fish_git_prompt.fish
  tests/checks/git.fish
Labels: enhancement

#8991 completions: include nologin in useradd/adduser shell options
  share/completions/adduser.fish
  share/completions/useradd.fish
Labels: enhancement, completions

#8993 completions 7z: allow to complete file names
  share/completions/7z.fish
Labels: enhancement, completions

#8995 chore: Set permissions for GitHub actions
  .github/workflows/lockthreads.yml
  .github/workflows/main.yml
Labels: enhancement

#9010 Add efibootmgr completion
  share/completions/efibootmgr.fish
Labels: enhancement, completions

#9012 updated function __fish_print_portage_repository_paths.fish
  share/functions/__fish_print_portage_repository_paths.fish
Labels: enhancement, completions

#8898 Fixed escaping in rsync completion
  share/completions/rsync.fish
Labels: enhancement, completions

#9003 Make doc css not depend on sphinx' css
  doc_src/python_docs_theme/static/pydoctheme.css
Labels: enhancement, docs

#9026 Try to use xterm{-256color,} if $TERM could not be used
  src/env_dispatch.cpp
Labels: enhancement

#9037 scp completions: added new options
  share/completions/scp.fish
Labels: completions

#9038 Prioritize APKs for `adb install`
  share/completions/adb.fish
Labels: completions

#9027 feat: completion for reflector
  share/completions/reflector.fish
Labels: enhancement, completions
