Repository fish-shell/fish-shell, pull requests merged in 2022-09, with the labels that each got.

#9175 fix completions for tcpdump (-w and -r option)
  share/completions/tcpdump.fish
Labels: bug, completions

#9177 Add fortune completions
  CHANGELOG.rst
  share/completions/fortune.fish
Labels: enhancement, completions

#9187 update fastboot reboot subcommand
  share/completions/fastboot.fish
Labels: enhancement, completions

#9195 completions: improved resolvectl completions and complete arguments
  share/completions/resolvectl.fish
Labels: enhancement, completions

#9186 completions pipenv: updated activation command of built-in completion mechanism
  share/completions/pipenv.fish
Labels: enhancement, completions

#9199 Add the possibility to ignore arguments in alliases
  CHANGELOG.rst
  share/functions/alias.fish
  tests/checks/alias.fish
Labels: enhancement

#9211 Fix diagnostic flag in set_color docs
  doc_src/cmds/set_color.rst
Labels: bug, docs

#9214 Fix typos in docs
  doc_src/cmds/fish_git_prompt.rst
  doc_src/cmds/jobs.rst
  doc_src/cmds/math.rst
  doc_src/cmds/realpath.rst
  doc_src/cmds/set_color.rst
  doc_src/cmds/ulimit.rst
  doc_src/completions.rst
  doc_src/design.rst
  doc_src/interactive.rst
  doc_src/language.rst
Labels: docs

#9218 add fastboot oem subcommand completions
  share/completions/fastboot.fish
Labels: enhancement, completions

#9219 add adb logcat completions
  share/completions/adb.fish
Labels: enhancement, completions

#9224 Fix Control+C key binding description
  doc_src/interactive.rst
Labels: enhancement, docs
