Repository fish-shell/fish-shell, pull requests merged in 2022-03, with the labels that each got.

#8757 Add completion for `rc-status`
  share/completions/rc-status.fish
Labels: enhancement, completions

#8759 Add `asd` completion
  share/completions/asd.fish
Labels: enhancement, completions

#8473 builtin string: don't print final newline if it's missing from stdin
  src/builtins/string.cpp
  src/io.cpp
  src/io.h
  tests/checks/expansion.fish
  tests/checks/string.fish
Labels: enhancement, release notes

#8552 Read more fasterer
  src/builtins/read.cpp
  tests/checks/read.fish
Labels: enhancement, performance

#8646 Variadic functions for `math` and tinyexpr rewrite.
  src/tinyexpr.cpp
  tests/checks/math.fish
Labels: enhancement

#8769 Remove is_color_escape_seq
  src/screen.cpp
Labels: enhancement, performance

#8774 New -n flag for string join.
  doc_src/cmds/string-join.rst
  doc_src/cmds/string.rst
  share/completions/string.fish
  src/builtins/string.cpp
Labels: enhancement

#8783 Remove underscores-in-math-builtin entry from 3.4 changelog
  CHANGELOG.rst
Labels: cleanup

#8758 Add completion for `brightnessctl`
  share/completions/brightnessctl.fish
Labels: enhancement, completions

#8760 Add completion for `tuned-adm`
  share/completions/tuned-adm.fish
Labels: enhancement, completions

#8775 Starfish prompt theme
  share/tools/web_config/sample_prompts/astronaut.fish
Labels: enhancement

#8796 Update `mix.fish`
  share/completions/mix.fish
Labels: enhancement, completions

#8800 completions: fix long `tmutil.fish` descriptions #6981
  share/completions/tmutil.fish
Labels: enhancement, completions

#8801 Reorder git checkout completions
  share/completions/git.fish
Labels: enhancement, completions

#8493 Make --no-config mode more comfortable
  src/fish.cpp
Labels: enhancement

#8811 Fix launching fish_config on SailfishOS
  share/tools/web_config/webconfig.py
Labels: enhancement

#8829 Rename fzf `--phony` completion to `--disabled`
  share/completions/fzf.fish
Labels: enhancement, completions

#8827 Autoload: Call the parser directly instead of going via "subshell"
  src/autoload.cpp
  tests/checks/syntax-error-location.fish
Labels: enhancement

#8833 Update a few git completions
  share/completions/git.fish
Labels: enhancement, completions
