Repository fish-shell/fish-shell, pull requests merged in 2022-10, with the labels that each got.

#9248 Completions: sort git branches by recency
  share/completions/git.fish
Labels: enhancement, completions

#9257 Add asciinema completions
  CHANGELOG.rst
  share/completions/asciinema.fish
Labels: enhancement, completions

#9245 Decode `\X` escapes immediately
  src/common.cpp
  tests/checks/locale.fish
Labels: bug

#9272 Add clojure completions
  CHANGELOG.rst
  share/completions/clj.fish
  share/completions/clojure.fish
Labels: enhancement, completions

#9277 completions: Add dua
  CHANGELOG.rst
  share/completions/dua.fish
Labels: enhancement, completions

#9292 completions john: redirect stderr to avoid errors
  share/completions/john.fish
Labels: bug, completions

#9280 Allow erasing in multiple scopes in one go
  CHANGELOG.rst
  doc_src/cmds/set.rst
  src/builtins/set.cpp
  tests/checks/set.fish
Labels: enhancement

#9294 completions: fix qdbus property completion
  share/completions/qdbus.fish
Labels: enhancement, completions

#9274 git prompt: Interpret values as true for bools instead of relying on defined-or-not
  doc_src/cmds/fish_git_prompt.rst
  share/functions/fish_git_prompt.fish
  tests/checks/git.fish
Labels: enhancement
