Repository fish-shell/fish-shell, pull requests merged in 2022-12, with the labels that each got.

#9402 added completion for git branch --remotes (-r)
  share/completions/git.fish
Labels: enhancement, completions

#9313 Mega abbr
  CHANGELOG.rst
  CMakeLists.txt
  doc_src/cmds/abbr.rst
  share/completions/abbr.fish
  share/functions/abbr.fish
  src/abbrs.cpp
  src/abbrs.h
  src/builtin.cpp
  src/builtins/abbr.cpp
  src/builtins/abbr.h
  src/complete.cpp
  src/env.cpp
  src/expand.cpp
  src/expand.h
  src/fish_tests.cpp
  src/flog.h
  src/highlight.cpp
  src/maybe.h
  src/re.cpp
  src/re.h
  src/reader.cpp
  src/reader.h
  src/wcstringutil.cpp
  src/wcstringutil.h
  tests/checks/abbr.fish
  tests/checks/functions.fish
  tests/pexpects/abbrs.py
Labels: enhancement

#9390 oksh: add completion
  share/completions/oksh.fish
Labels: enhancement, completions

#9419 abbr: Let --function use a mandatory argument
  doc_src/cmds/abbr.rst
  src/builtins/abbr.cpp
  tests/checks/abbr.fish
Labels: enhancement, RFC

#9436 completions/abbr: fix complete condition
  share/completions/abbr.fish
Labels: enhancement, completions
