Repository fish-shell/fish-shell, pull requests merged in 2022-08, with the labels that each got.

#9111 Fix typo for `or` input function
  doc_src/cmds/bind.rst
Labels: docs

#9121 cp completions: reflink's arguments are optional
  share/completions/cp.fish
Labels: bug, completions

#9119 Add powershell support to suppress UNC path error
  share/functions/help.fish
Labels: enhancement, windows subsystem for linux

#9124 string repeat: Don't allocate repeated string all at once
  src/builtins/string.cpp
  tests/checks/string.fish
Labels: enhancement

#9129 Reset the read byte limit to the default when unset
  src/env_dispatch.cpp
  tests/checks/cmdsub-limit.fish
Labels: bug

#9105 Disclose pager to half of screen height immediately
  src/pager.cpp
Labels: enhancement

#9135 completions dhcpcd: improved completions
  share/completions/dhcpcd.fish
Labels: enhancement, completions

#9138 Improved completions for `ip`
  share/completions/ip.fish
Labels: enhancement, completions

#9140 Fix typo in completions/port.fish
  share/completions/port.fish
Labels: bug, completions

#9139 Increase the string chunk size to increase performance
  src/builtins/string.cpp
Labels: enhancement, performance

#9141 Erase __fish_config_interactive after we run it.
  share/functions/__fish_config_interactive.fish
Labels: enhancement

#9145 added completions for sad and added note in changelog
  CHANGELOG.rst
  share/completions/sad.fish
Labels: enhancement, completions
