Repository fish-shell/fish-shell, pull requests merged in 2022-02, with the labels that each got.

#8667 Shortened quilt definitions
  share/completions/quilt.fish
Labels: enhancement, completions

#8729 Fix typo (fist -> first)
  po/pt_BR.po
  share/completions/uniq.fish
Labels: bug

#8731 Disabled line length limit in `share/{completions,functions}`
  .editorconfig
Labels: enhancement

#8732 Add gnome-extensions completion
  share/completions/gnome-extensions.fish
Labels: enhancement, completions
