Repository fish-shell/fish-shell, pull requests merged in 2023-02, with the labels that each got.

#9521 completions: add `pre-commit`
  share/completions/pre-commit.fish
Labels: enhancement, completions

#9518 fix(completion/adb): remove wait-for-device from subcommand detect
  share/completions/adb.fish
Labels: enhancement, completions

#9540 Add workaround for Midnight Commander's issue with prompt extraction
  src/env_dispatch.cpp
  src/screen.cpp
  src/screen.h
Labels: enhancement

#9569 fix 3 instances of old command substitution `$()`
  share/functions/fish_git_prompt.fish
Labels: enhancement

#9528 Improve fossil prompt execution time
  share/functions/fish_fossil_prompt.fish
Labels: enhancement

#9571 Add tab completion for stow
  CHANGELOG.rst
  share/completions/stow.fish
Labels: enhancement, completions

#9599 contains: port contains builtin to rust
  CMakeLists.txt
  fish-rust/src/builtins/contains.rs
  fish-rust/src/builtins/mod.rs
  fish-rust/src/builtins/shared.rs
  src/builtin.cpp
  src/builtin.h
  src/builtins/contains.cpp
  src/builtins/contains.h
Labels: cleanup

#9592 port abbrs.cpp and abbr builtin to rust
  CMakeLists.txt
  fish-rust/build.rs
  fish-rust/src/abbrs.rs
  fish-rust/src/builtins/abbr.rs
  fish-rust/src/builtins/mod.rs
  fish-rust/src/builtins/shared.rs
  fish-rust/src/common.rs
  fish-rust/src/env.rs
  fish-rust/src/ffi.rs
  fish-rust/src/lib.rs
  fish-rust/src/parse_constants.rs
  fish-rust/src/re.rs
  fish-rust/src/wutil/format/format.rs
  fish-rust/src/wutil/format/tests.rs
  src/abbrs.cpp
  src/abbrs.h
  src/builtin.cpp
  src/builtin.h
  src/builtins/abbr.cpp
  src/builtins/abbr.h
  src/complete.cpp
  src/env.cpp
  src/fish_tests.cpp
  src/highlight.cpp
  src/parse_constants.h
  src/parser.h
  src/re.cpp
  src/re.h
  src/reader.cpp
Labels: cleanup

#9608 Port job_group to rust
  CMakeLists.txt
  fish-rust/build.rs
  fish-rust/src/common.rs
  fish-rust/src/job_group.rs
  fish-rust/src/lib.rs
  fish-rust/src/signal.rs
  src/builtins/bg.cpp
  src/builtins/fg.cpp
  src/exec.cpp
  src/ffi.h
  src/io.h
  src/job_group.cpp
  src/job_group.h
  src/operation_context.h
  src/parse_execution.cpp
  src/parser.cpp
  src/parser.h
  src/postfork.cpp
  src/proc.cpp
  src/proc.h
Labels: enhancement
