Repository fish-shell/fish-shell, pull requests merged in 2023-06, with the labels that each got.

#9818 Rewrite and adopt print_help in Rust
  CMakeLists.txt
  fish-rust/build.rs
  fish-rust/src/lib.rs
  fish-rust/src/print_help.rs
  src/fish_indent.cpp
  src/fish_key_reader.cpp
  src/print_help.cpp
  src/print_help.h
Labels: rust

#9850 Add i o for unzip
  share/completions/unzip.fish
Labels: enhancement, completions

#9859 Make NULs work for builtins
  fish-rust/src/builtins/shared.rs
  tests/checks/string.fish
Labels: regression
