Repository fish-shell/fish-shell, pull requests merged in 2023-03, with the labels that each got.

#9629 xbps: actually show all packages in `__fish_print_xbps_packages`'s output.
  share/functions/__fish_print_xbps_packages.fish
Labels: bug, completions

#9635 support prepending please instead of sudo/doas
  share/functions/__fish_shared_key_bindings.fish
Labels: enhancement

#9640 builtins: set_color: remove unhandled -v/--version flag
  src/builtins/set_color.cpp
Labels: bug

#9681 Use stack's dynamic completions
  share/completions/stack.fish
Labels: enhancement, completions

#9664 Add md-to-clip completion
  share/completions/md-to-clip.fish
Labels: enhancement, completions

#9626 Port trace to Rust
  CMakeLists.txt
  fish-rust/build.rs
  fish-rust/src/ffi.rs
  fish-rust/src/lib.rs
  fish-rust/src/trace.rs
  src/builtin.cpp
  src/env_dispatch.cpp
  src/exec.cpp
  src/ffi.h
  src/parse_execution.cpp
  src/parser.cpp
  src/parser.h
  src/trace.cpp
  src/trace.h
Labels: cleanup
