Repository fish-shell/fish-shell, pull requests merged in 2023-11, with the labels that each got.

#10073 Update find.fish
  share/completions/find.fish
Labels: enhancement, completions

#10089 completions: improved netcat completions
  share/completions/nc.fish
  share/completions/ncat.fish
Labels: bug, completions

#10103 completions: add chezmoi completions
  share/completions/chezmoi.fish
Labels: completions

#10107 [doc]: fix --path description of set cmd
  doc_src/cmds/set.rst
Labels: docs

#10090 Replace some direct uses of libc with wrappers
  fish-rust/src/builtins/complete.rs
  fish-rust/src/builtins/function.rs
  fish-rust/src/builtins/path.rs
  fish-rust/src/builtins/read.rs
  fish-rust/src/builtins/source.rs
  fish-rust/src/builtins/test.rs
  fish-rust/src/env/environment.rs
  fish-rust/src/exec.rs
  fish-rust/src/fish.rs
  fish-rust/src/fork_exec/postfork.rs
  fish-rust/src/io.rs
  fish-rust/src/nix.rs
  fish-rust/src/signal.rs
Labels: cleanup, RFC, rust

#10086 Add __fish_anypager helper
  share/functions/__fish_anypager.fish
  share/functions/__fish_paginate.fish
  share/functions/__fish_preview_current_file.fish
  share/functions/__fish_print_help.fish
  share/functions/fish_delta.fish
  share/functions/history.fish
Labels: enhancement

#10079 Update tar.fish
  share/completions/tar.fish
Labels: enhancement, completions

#9992 git completion: Handle aliases referencing other aliases
  CHANGELOG.rst
  share/completions/git.fish
Labels: enhancement, completions

#10115 Enable OSC 0 when running in Rio and Foot terminal
  fish-rust/src/env_dispatch.rs
Labels: enhancement

#10114 Reduce syscalls for `path filter` with special permissions (owner/group/...)
  fish-rust/src/builtins/path.rs
Labels: performance

#10120 Add a missing space after a comma
  doc_src/cmds/function.rst
Labels: docs

#10128 Make wgettext_fmt! require an argument *to* format
  fish-rust/src/ast.rs
  fish-rust/src/builtins/functions.rs
  fish-rust/src/builtins/printf.rs
  fish-rust/src/builtins/type.rs
  fish-rust/src/expand.rs
  fish-rust/src/parse_execution.rs
  fish-rust/src/parse_util.rs
  fish-rust/src/wchar.rs
  fish-rust/src/wutil/gettext.rs
  fish-rust/src/wutil/mod.rs
Labels: cleanup, rust
