Repository fish-shell/fish-shell, pull requests merged in 2023-01, with the labels that each got.

#9440 completions wireshark: removed wrong interface completion for -I option
  share/functions/__fish_complete_wireshark.fish
Labels: completions

#9458 Make history pager use more entries
  src/reader.cpp
Labels: enhancement

#9460 webconfig: Remove the abbreviations tab
  share/tools/web_config/fishconfig.css
  share/tools/web_config/index.html
  share/tools/web_config/js/app.js
  share/tools/web_config/js/controllers.js
  share/tools/web_config/js/filters.js
  share/tools/web_config/partials/abbreviations.html
  share/tools/web_config/webconfig.py
Labels: bug

#9469 docs: clearify global vs universal variable
  doc_src/cmds/set.rst
  doc_src/language.rst
Labels: enhancement, docs

#9473 Remove str2wcs special case for MB_CUR_MAX
  src/common.cpp
Labels: bug

#9475 abbr: Warn when `-U` is given
  src/builtins/abbr.cpp
Labels: enhancement

#9492 Minor formatting in Job Control documentation
  doc_src/language.rst
Labels: enhancement

#9483 Add argparse validation examples
  doc_src/cmds/argparse.rst
Labels: enhancement

#9498 fix missing required parameter in terraform completions
  CHANGELOG.rst
  share/completions/terraform.fish
Labels: bug, completions

#9490 abbr: Clarify universal variable message
  doc_src/cmds/abbr.rst
  src/builtins/abbr.cpp
  tests/checks/abbr.fish
Labels: enhancement

#9500 feat: add support for fossil-scm in prompt
  share/functions/fish_fossil_prompt.fish
  share/functions/fish_vcs_prompt.fish
Labels: enhancement
