Repository fish-shell/fish-shell, pull requests merged in 2023-08, with the labels that each got.

#9931 Remove a waccess call when completing executables
  src/wildcard.cpp
Labels: enhancement

#9922 Add horcrux completion
  CHANGELOG.rst
  share/completions/horcrux.fish
Labels: enhancement, completions

#9932 Add iwctl completions
  share/completions/iwctl.fish
Labels: enhancement, completions

#9954 fix __fish_list_current_token not recognizing ~ as $HOME
  share/functions/__fish_list_current_token.fish
Labels: enhancement

#9963 Port builtin count to rust
  fish-rust/src/builtins/count.rs
  fish-rust/src/builtins/mod.rs
  fish-rust/src/builtins/shared.rs
  src/builtin.cpp
  src/builtin.h
Labels: enhancement, rust

#9961 Replace more escapes with quotes in man parser
  share/tools/create_manpage_completions.py
Labels: enhancement

#9986 fish_key_reader: Humanize key descriptions
  doc_src/cmds/fish_key_reader.rst
  src/fish_key_reader.cpp
  tests/pexpects/fkr.py
Labels: enhancement

#9943 scp completions: fix path escaping
  share/completions/scp.fish
Labels: enhancement, completions

#9910 Improve completion for rpm-ostree
  share/completions/rpm-ostree.fish
Labels: enhancement, completions

#9554 WIP: Proof of concept for replacing AngularJS with Alpine.js in webconfig component
  share/tools/web_config/delete.png
  share/tools/web_config/fishconfig.css
  share/tools/web_config/index.html
  share/tools/web_config/js/alpine.js
  share/tools/web_config/js/angular-route.js
  share/tools/web_config/js/angular-sanitize.js
  share/tools/web_config/js/angular.js
  share/tools/web_config/js/app.js
  share/tools/web_config/js/controllers.js
  share/tools/web_config/js/filters.js
  share/tools/web_config/js/main.js
Labels: enhancement
