Repository fish-shell/fish-shell, pull requests merged in 2023-10, with the labels that each got.

#10027 completions: add watchexec
  share/completions/watchexec.fish
Labels: enhancement, completions

#10034 add completions for crc and oc
  CHANGELOG.rst
  share/completions/crc.fish
  share/completions/oc.fish
Labels: enhancement, completions

#10039 completions/pacman: fix -Qp completing packages, not files
  share/completions/pacman.fish
Labels: enhancement, completions

#10020 Fix out of scope opt variable
  share/functions/ls.fish
Labels: bug

#10044 Add a clear-screen bind function to clear the screen
  doc_src/cmds/bind.rst
  share/functions/__fish_shared_key_bindings.fish
  src/input.cpp
  src/input_common.h
  src/reader.cpp
  src/screen.cpp
  src/screen.h
Labels: enhancement

#10032 Reduce stat calls for wildcard
  fish-rust/src/wildcard.rs
  fish-rust/src/wutil/dir_iter.rs
  src/wildcard.cpp
  src/wutil.cpp
  src/wutil.h
Labels: performance

#10008 added support for fish_sequence_key_delay_ms to set how long to wait between sequence key presses
  src/env_dispatch.cpp
  src/fish_key_reader.cpp
  src/input.cpp
  src/input_common.cpp
  src/input_common.h
Labels: enhancement

#10052 wildcard: Rationalize file/command completions
  fish-rust/src/wildcard.rs
  fish-rust/src/wutil/dir_iter.rs
  src/wildcard.cpp
  src/wutil.cpp
  src/wutil.h
Labels: performance

#10038 completion(loginctl): fix sessions with ssh or other states
  share/completions/loginctl.fish
Labels: bug, completions

#10056 completions: added userdel
  share/completions/userdel.fish
Labels: enhancement, completions

#10051 update entr completions
  share/completions/entr.fish
Labels: enhancement, completions
