Repository fish-shell/fish-shell, pull requests merged in 2023-07, with the labels that each got.

#9871 add stash completions to git show and git diff
  share/completions/git.fish
Labels: enhancement, completions

#9880 Fix grammar in completion docs
  doc_src/cmds/complete.rst
  doc_src/completions.rst
Labels: docs

#9900 Fix integer overflow in `string repeat`
  CHANGELOG.rst
  src/builtins/string.cpp
  tests/checks/string.fish
Labels: bug

#9903 Add Krita completions
  CHANGELOG.rst
  share/completions/krita.fish
Labels: completions
