Repository fish-shell/fish-shell, pull requests merged in 2024-01, with the labels that each got.

#10182 Update README.rst
  README.rst
Labels: docs

#10186 Completions: fix Blender completions when it prints to stderr
  share/completions/blender.fish
Labels: bug, completions

#10184 feat: adb completion cleared of awk
  share/completions/adb.fish
Labels: enhancement, completions

#10187 Log original exit code used when a builtin returns a negative exit code
  src/builtin.cpp
  tests/checks/status-value.fish
Labels: enhancement

#10209 completions/fastboot: declare -s as taking an argument, add argument …
  share/completions/fastboot.fish
Labels: enhancement, completions

#10219 Shorten long descriptions for the `cargo` command
  share/completions/cargo.fish
Labels: enhancement, completions

#10232 Update iwctl.fish
  share/completions/iwctl.fish
Labels: cleanup

#10238 Remove share/completions/highlight.fish
  share/completions/highlight.fish
Labels: enhancement, completions

#10246 Enable LTO
  Cargo.toml
Labels: rust

#10235 More completions for apt and apt-get
  share/completions/apt-get.fish
  share/completions/apt.fish
Labels: enhancement, completions

#10245 Use CARGO_MANIFEST_DIR to see if we're running from build dir
  src/bin/fish.rs
Labels: rust

#10251 Retry open_cloexec for signals other than SIGINT
  src/fds.rs
  src/io.rs
  tests/pexpects/signals.py
Labels: bug

#10260 Update just.fish to handle descriptions for completions
  share/completions/just.fish
Labels: enhancement, completions

#10270 Fix build on NetBSD
  src/libc.c
  src/libc.rs
  src/locale.rs
  src/path.rs
  src/screen.rs
  src/wutil/mod.rs
Labels: rust

#10277 Fix rounding error on math docs
  doc_src/cmds/math.rst
Labels: docs
