Repository fish-shell/fish-shell, pull requests merged in 2024-02, with the labels that each got.

#10281 tab completions: avoid completing gpg --use-embedded-filename
  share/functions/__fish_complete_gpg.fish
Labels: enhancement, completions

#10249 Forbid subcommand keywords in variables-as-commands
  src/parse_execution.rs
  tests/checks/expansion.fish
Labels: enhancement, RFC

#10262 Add feature flag to turn off `%self`
  doc_src/language.rst
  src/common.rs
  src/expand.rs
  src/future_feature_flags.rs
  tests/checks/features-percent-self1.fish
  tests/checks/features-percent-self2.fish
  tests/checks/status.fish
Labels: enhancement, RFC

#10293 feat: cobra-cli support
  share/completions/cobra-cli.fish
Labels: enhancement, completions

#10294 completions: update 'echo'
  share/completions/echo.fish
Labels: bug, completions

#10295 completions: add ssh -D option
  share/completions/ssh.fish
Labels: enhancement, completions

#10306 Make descriptions shorter: iex, jhipster, lpadmin, mocp, rmmod
  share/completions/iex.fish
  share/completions/jhipster.fish
  share/completions/lpadmin.fish
  share/completions/mocp.fish
  share/completions/rmmod.fish
Labels: enhancement, completions

#10317 Add completion for pstree
  share/completions/pstree.fish
Labels: enhancement, completions
