Repository fish-shell/fish-shell, pull requests merged in 2024-05, with the labels that each got.

#10466 Move push_timer to measure command substitution timing too
  CHANGELOG.rst
  src/exec.rs
  src/parse_execution.rs
  src/proc.rs
Labels: enhancement

#10479 Partially update zig completions for zig 0.13
  share/completions/zig.fish
Labels: completions

#10505 completions: improved ip completions
  share/completions/ip.fish
Labels: completions

#10500 add completions for ibus
  share/completions/ibus.fish
Labels: completions, release notes

#10510 Prevent loading of `psqlrc` when listing databases for completion
  share/functions/__fish_complete_pg_database.fish
  share/functions/__fish_complete_pg_user.fish
Labels: completions

#10506 Work around $PATH issues under WSL
  src/path.rs
Labels: release notes, windows subsystem for linux, performance

#10511 Add completions for reuse-tool
  share/completions/reuse.fish
Labels: completions

#10520 Add csvlens completions
  share/completions/csvlens.fish
Labels: completions

#10508 add completions for ssh-keygen
  share/completions/ssh-keygen.fish
Labels: completions

#10519 Add jnv completions
  share/completions/jnv.fish
Labels: completions

#10530 git: add --reuse-message and --reedit-message completion
  share/completions/git.fish
Labels: completions

#10473 feat: add completions for k8s tools (kustomize, flux)
  share/completions/flux.fish
  share/completions/kustomize.fish
Labels: completions
