Repository fish-shell/fish-shell, pull requests merged in 2024-03, with the labels that each got.

#10336 Reimplement git version generation ourselves
  Cargo.lock
  Cargo.toml
  build.rs
  src/lib.rs
Labels: cleanup, rust

#10329 Add safe Send/Sync wrapper for main thread data
  src/output.rs
  src/parser.rs
  src/reader.rs
  src/screen.rs
  src/threads.rs
Labels: rust

#10330 Fix logic for relocatable directory trees
  src/bin/fish.rs
Labels: regression

#10353 Simplify Parser's shared-from-this pattern
  src/global_safety.rs
  src/parser.rs
Labels: cleanup

#10302 Allow deciding if a command should be saved to history
  doc_src/cmds/fish_should_add_to_history.rst
  src/reader.rs
  tests/pexpects/history.py
Labels: enhancement

#10357 builtin/test: refactor the Token enum to be more granular
  src/builtins/test.rs
Labels: rust

#10368 Add completions for dmidecode
  share/completions/dmidecode.fish
Labels: completions

#10370 Update htop completions
  share/completions/htop.fish
Labels: completions

#10390 [RUSTSEC-2020-0070] Bump serial_test dependency to 1.0.0
  Cargo.lock
  Cargo.toml
Labels: cleanup

#10396 abbr: expand command abbrs after decorators
  src/reader.rs
  src/tests/abbrs.rs
Labels: enhancement

#10398 Add forward-char-passive
  doc_src/cmds/bind.rst
  src/input.rs
  src/input_common.rs
  src/reader.rs
  tests/checks/tmux-complete.fish
Labels: enhancement, release notes

#10400 build.rs: pick up version file for tarballs from source, not build, directory
  build.rs
Labels: rust
