Repository fish-shell/fish-shell, pull requests merged in 2024-12, with the labels that each got.

#10905 curses: Just use our hardcoded xterm-256color entry as the fallback
  src/env_dispatch.rs
Labels: enhancement

#10892 Add `tex-fmt` completions
  share/completions/tex-fmt.fish
Labels: completions

#10906 rclone.fish: assume a recent version if the version cannot be parsed
  share/completions/rclone.fish
Labels: completions

#10909 Completions for `mksquashfs`
  share/completions/mksquashfs.fish
Labels: completions

#10923 Allow installable builds to be installed into a specific path
  doc_src/cmds/fish.rst
  src/bin/fish.rs
Labels: enhancement

#10942 docs: Use grid in the CSS
  doc_src/python_docs_theme/static/pydoctheme.css
Labels: docs

#10949 completions/dnf: Fix completions for DNF5 (#9862)
  share/completions/dnf.fish
Labels: completions

#10958 docs: Distinguish documents in sidebar
  doc_src/python_docs_theme/static/pydoctheme.css
Labels: enhancement, docs

#10896 Add `status buildinfo`
  build.rs
  cmake/Rust.cmake
  doc_src/cmds/status.rst
  src/builtins/status.rs
  tests/checks/buildinfo.fish
Labels: enhancement, RFC

#10752 add completion for btrbk
  share/completions/btrbk.fish
Labels: completions

#10787 Add completions for: `folderify`
  share/completions/folderify.fish
Labels: completions

#10788 Add completions for: `batsh`
  share/completions/batsh.fish
Labels: completions
