Repository fish-shell/fish-shell, pull requests merged in 2024-10, with the labels that each got.

#10601 fish_vi_key_bindings: add bindings for semicolon and comma in visual mode
  share/functions/fish_vi_key_bindings.fish
Labels: enhancement, vi-mode

#10727 Unescape strings for `__fish_complete_list`
  share/functions/__fish_complete_list.fish
Labels: completions

#10778 completions: updated hashcat completions
  share/completions/hashcat.fish
Labels: completions

#10760 Added `arping` completions
  share/completions/arping.fish
Labels: completions

#10758 default color scheme: Make commands "normal" color
  share/functions/__fish_config_interactive.fish
  share/tools/web_config/themes/fish default.theme
Labels: enhancement

#10796 completions/diff: allow file completion for --unified
  share/completions/diff.fish
Labels: completions

#10795 Add completions for: `lsb_release`
  share/completions/lsb_release.fish
Labels: completions

#10801 fix documentation for `path normalize`
  doc_src/cmds/path.rst
Labels: docs

#10817 Add `tailscale` completion
  share/completions/tailscale.fish
Labels: completions

#10731 completions/adb: show local files first for 'push'
  share/completions/adb.fish
Labels: completions
