Repository fish-shell/fish-shell, pull requests merged in 2025-04, with the labels that each got.

#11350 Fix alt-right binding
  share/functions/__fish_shared_key_bindings.fish
Labels: regression

#11352 Fix profiling time log
  src/history.rs
Labels: bug

#11330 Attempt at fixing history corruption
  src/history.rs
Labels: bug

#11386 added completion for uv and uvx
  share/completions/uv.fish
  share/completions/uvx.fish
Labels: completions

#11390 status get/list-files: fix minor bugs when compiled without embedded files
  share/completions/status.fish
  share/functions/fish_config.fish
  share/functions/man.fish
  src/builtins/status.rs
Labels: bug

#11401 completions(tcpdump): suppress stderr + updates
  share/completions/tcpdump.fish
Labels: completions

#11416 Fix typo in `language` docs
  doc_src/language.rst
Labels: docs

#11402 Add clippy lints about using stdlib print macros
  Cargo.toml
Labels: rust
