Repository fish-shell/fish-shell, pull requests merged in 2025-03, with the labels that each got.

#11201 fix unknown command __fish_diskutil_volumes
  share/completions/diskutil.fish
Labels: completions

#11165 completions/emacs: add completion for argumnet: "--init-directory"
  share/completions/emacs.fish
Labels: completions

#11230 completions/flatpak: don't ignore packages with uppercase in name
  share/completions/flatpak.fish
Labels: completions

#11264 doc: `bind ctrl-c clear-commandline`
  doc_src/interactive.rst
Labels: docs

#11128 feat(completions): add argocd, cue, dagger, kubebuilder and pulumi
  share/completions/argocd.fish
  share/completions/cue.fish
  share/completions/dagger.fish
  share/completions/kubebuilder.fish
  share/completions/pulumi.fish
Labels: completions

#11119 completions/tmux: fix and improve key binding command completion
  share/completions/tmux.fish
Labels: completions

#11290 Downgrade $TERM warnings to a term-support flog
  src/env_dispatch.rs
Labels: enhancement

#11046 completions/jj: use dynamic completions by default, also fix them
  share/completions/jj.fish
Labels: completions

#11301 Add `wlr-randr` completions
  share/completions/wlr-randr.fish
Labels: completions

#11314 completions/systemd-analyze: add new options and subcommands
  share/completions/systemd-analyze.fish
Labels: completions

#11315 completions/cryptsetup: complete device mapping names
  share/completions/cryptsetup.fish
Labels: completions

#11323 completions/git: Added autostash option to git merge
  share/completions/git.fish
Labels: completions

#11320 completions/btrfs: add new options and commands
  share/completions/btrfs.fish
Labels: completions

#11333 Rebuild on changes relevant to build artifacts
  build.rs
Labels: enhancement

#11328 findrust: Simplify
  README.rst
  cmake/FindRust.cmake
  cmake/Rust.cmake
Labels: cmake
