Repository fish-shell/fish-shell, pull requests merged in 2025-01, with the labels that each got.

#10989 Remove unnecessary clone when opening File for debug output
  src/bin/fish.rs
Labels: cleanup

#10990 Avoid traversing wait handle list if searching by PID
  src/builtins/wait.rs
Labels: cleanup

#10975 Code cleanup in `src/bin/fish.rs` to make it more idiomatic
  src/bin/fish.rs
Labels: cleanup

#10912 Update `code` completions
  share/completions/code.fish
Labels: completions

#10971 completions/exercism: use generate script
  share/completions/exercism.fish
Labels: completions

#10999 fix[completions]: Add set-timeout to bootctl
  share/completions/bootctl.fish
Labels: completions

#10945 feat(comp): Update completion for md5sum
  share/completions/md5sum.fish
Labels: completions

#10941 feat(comp): Update completions for resolvectl
  share/completions/resolvectl.fish
Labels: completions

#10951 Add completion for gem-fetch
  share/completions/gem.fish
Labels: completions

#11005 Add completions for Google Cloud commands.
  share/completions/gcloud.fish
  share/completions/gsutil.fish
Labels: completions

#10648 Add more convenient key bindings for VI mode
  share/functions/__fish_shared_key_bindings.fish
  share/functions/fish_vi_key_bindings.fish
Labels: vi-mode

#11016 Fix completions for `apt-build`, `htop` and `wget`
  share/completions/apt-build.fish
  share/completions/htop.fish
  share/completions/wget.fish
Labels: completions

#11014 Revert "Fix typo in npm completions: isntall -> install"
  share/completions/npm.fish
Labels: completions

#11017 completions: add `fish-lsp`
  share/completions/fish-lsp.fish
Labels: completions

#11035 DNF5 completion support
  share/completions/dnf.fish
Labels: completions

#11034 Fix missing of builtin token description
  share/functions/__fish_whatis_current_token.fish
Labels: bug

#11026 Fix completion typos
  share/completions/VBoxSDL.fish
  share/completions/bzr.fish
  share/completions/create_ap.fish
  share/completions/gprof.fish
  share/completions/pkg.fish
  share/completions/pygmentize.fish
  share/completions/python3.fish
  share/completions/virsh.fish
Labels: completions

#11019 Lazygit completions
  share/completions/lazygit.fish
Labels: completions

#11028 Rewrite test driver in python
  CONTRIBUTING.rst
  cmake/Tests.cmake
  tests/checks/command-not-found.fish
  tests/checks/complete_directories.fish
  tests/checks/function.fish
  tests/checks/git.fish
  tests/checks/invocation.fish
  tests/checks/read.fish
  tests/checks/return.fish
  tests/checks/set.fish
  tests/filter-control-sequences.fish
  tests/interactive.fish
  tests/pexpects/histfile.py
  tests/test.fish
  tests/test_driver.py
  tests/test_driver.sh
  tests/test_env.sh
  tests/test_util.fish
Labels: enhancement

#11061 completions: add `unbuffer` completions
  share/completions/unbuffer.fish
Labels: completions

#11070 Fix typos in .rst files
  CHANGELOG.rst
  CONTRIBUTING.rst
Labels: docs

#10855 completions/tmux: dynamic completions for all `tmux` subcommands and flags using `tmux lscm`
  share/completions/tmux.fish
Labels: completions

#11074 completions/tmux: some windows and panes boolean flag completions
  share/completions/tmux.fish
Labels: completions

#11104 Remove fish.desktop
  cmake/Install.cmake
  fish.desktop
Labels: cleanup
